In [2]:
#### import json
import pandas as pd
import numpy as np

In [3]:
df1=pd.read_csv('Semi_proccessed_Complete_Jdatav4.csv',low_memory=False)

In [4]:
df1

,Unnamed: 0,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,variantName,...,styleOptions,colours,discountData,styleVideoAlbumList,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,Main_Category,Sub_Category,Sub_Sub_Category
0,data,1163,895.0,895.0,DEL,219,409962-480-895,NaN,Nike Sahara Team India Fanwear Round Neck Jersey,Roundneck Jersey,...,"[{'id': 8289, 'name': 'Size', 'value': 'XXS', ...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
1,data,1164,1595.0,1595.0,P,289,Nike Sahara Jersey,eoss:PREMIUM,Nike Men Blue T20 Indian Cricket Jersey,Collared Jersey,...,"[{'id': 2995, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
2,data,1165,2495.0,2495.0,D,219,Nike Jersey,NaN,Nike Mean Team India Cricket Jersey,Authentic Jersey,...,"[{'id': 3001, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
3,data,1525,1299.0,1299.0,P,597,6818802,NaN,Puma Deck Navy Blue Backpack,Deck Backpack,...,"[{'id': 9676, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'1697': {'dre_landing_page_url': '...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
4,data,1526,1299.0,1299.0,P,294,6814201,NaN,Puma Big Cat Backpack Black,Big Cat Backpack,...,"[{'id': 9678, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'13698': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43994,data,59995,4300.0,2150.0,P,379,SR370-Black,NaN,Avirate Black Dress,Women Dress,...,"[{'id': 397176, 'name': 'Size', 'value': 'US4'...",NaN,"{'discountType': 1, 'discountAmount': 2150, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43995,data,59996,3400.0,1700.0,P,379,SR394-PURPLE MIX-59996,NaN,Avirate Black & Purple Dress,Dress,...,"[{'id': 397165, 'name': 'Size', 'value': 'US14...",NaN,"{'discountType': 1, 'discountAmount': 1700, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43996,data,59998,1395.0,1395.0,P,445,9861EMT,NaN,Catwalk Women Multi Coloured Heels,catwalk sandal,...,"[{'id': 220509, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43997,data,59999,1595.0,1595.0,P,445,9874BX,NaN,Catwalk Women Bronze Wedges,catwalk sandal,...,"[{'id': 220514, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43998,data,60000,499.0,499.0,DEL,364,AJ0056 Blue,NaN,Alma Women Blue Kurta,Alma Orange Kurta,...,"[{'id': 220518, 'name': 'Size', 'value': 'S', ...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Apparel,Topwear

In [5]:
pd.set_option('max_columns', None)

In [6]:
df1

,Unnamed: 0,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,variantName,myntraRating,catalogAddDate,brandName,ageGroup,gender,baseColour,colour1,colour2,fashionType,season,year,usage,vat,displayCategories,weight,navigationId,landingPageUrl,articleAttributes,crossLinks,brandUserProfile,codEnabled,styleImages,lookGoodAlbum,style360Images,masterCategory,subCategory,articleType,isEMIEnabled,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,colours,discountData,styleVideoAlbumList,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,Main_Category,Sub_Category,Sub_Sub_Category
0,data,1163,895.0,895.0,DEL,219,409962-480-895,NaN,Nike Sahara Team India Fanwear Round Neck Jersey,Roundneck Jersey,1,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2011.0,Sports,5.5,"Sports Wear,Sale",0,0,Tshirts/Nike/Nike-Sahara-Team-India-Fanwear-Ro...,"{'Fit': 'Regular Fit', 'Fabric 3': 'NA', 'Body...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 8289, 'name': 'Size', 'value': 'XXS', ...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
1,data,1164,1595.0,1595.0,P,289,Nike Sahara Jersey,eoss:PREMIUM,Nike Men Blue T20 Indian Cricket Jersey,Collared Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Winter,2015.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Men-Blue-T20-Indian-Cricket-...,"{'Pattern': 'Solid', 'Body or Garment Size': '...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 2995, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
2,data,1165,2495.0,2495.0,D,219,Nike Jersey,NaN,Nike Mean Team India Cricket Jersey,Authentic Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2013.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Mean-Team-India-Cricket-Jers...,"{'Sleeve Styling': 'Raglan Sleeves', 'Multipac...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 3001, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
3,data,1525,1299.0,1299.0,P,597,6818802,NaN,Puma Deck Navy Blue Backpack,Deck Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Navy Blue,NaN,NaN,Fashion,Fall,2010.0,Casual,14.5,Accessories,0,0,Backpacks/Puma/Puma-Deck-Navy-Blue-Backpack/15...,"{'Occasion': 'Casual', 'Size': 'Medium', 'Lapt...","[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9676, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'1697': {'dre_landing_page_url': '...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
4,data,1526,1299.0,1299.0,P,294,6814201,NaN,Puma Big Cat Backpack Black,Big Cat Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Black,NaN,NaN,Fashion,Fall,2010.0,Sports,14.5,Accessories,0,0,Backpacks/Puma/Puma-Big-Cat-Backpack-Black/152...,{},"[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9678, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'13698': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43994,data,59995,4300.0,2150.0,P,379,SR370-Black,NaN,Avirate Black Dress,Women Dress,0,1460961620,Avirate,Adults-Women,Women,Black,NaN,NaN,Fashion,Fall,2012.0,Party,5.5,NaN,0,1080,Dresses/Avirate/Avirate-Black-Dress/59995/buy,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397176, 'name': 'Size', 'value': 'US4'...",NaN,"{'discountType': 1, 'discountAmount': 2150, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43995,data,59996,3400.0,1700.0,P,379,SR394-PURPLE MIX-59996,NaN,Avirate Black & Purple Dress,Dress,0,1478255240,Avirate,Adults-Women,Women,Purple,NaN,NaN,Fashion,Summer,2014.0,Casual,5.5,Casual Wear,0,1259,Dresses/Avirate/Avirate-Black--Purple-Dress/59...,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397165, 'name': 'Size', 'value': 'US14...",NaN,"{'discountType': 1, 'discountAmount': 1700, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43996,data,59998,1395.0,1395.0,P,445,9861EMT,NaN,Catwalk Women Multi Coloured Heels,catwalk sandal,0,1450936788,Catwalk,Adults-Women,Women,Multi,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Multi-Coloured-Hee...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220509, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43997,data,59999,1595.0,1595.0,P,445,9874BX,NaN,Catwalk Women Bronze Wedges,catwalk sandal,0,1447910988,Catwalk,Adults-Women,Women,Bronze,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Bronze-Wedges/5999...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220514, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43998,data,60000,499.0,499.0,DEL,364,AJ0056 Blue,NaN,Alma Women Blue Kurta,Alma Orange Kurta,1,1444139425,Alma,Adults-Women,Women,Blue,NaN,NaN,Fashion,Fall,2012.0,Ethnic,5.5,Ethnic Wear,0,607,Kurtas/Alma/Alma-Women-Blue-Kurta/60000/buy,{'Body or Garment Size': 'Garment Measurements...,"[{'key': 'More Kurtas by Alma', 'value': 'kurt...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 83, 'typeName': 'Kurtas', 'active': Tru...",False,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 83, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220518, 'name': 'Size', 'value': 'S', ...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Apparel,Topwear

In [7]:
df1 = df1.dropna(subset=['usage'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43999 entries, 0 to 43998
Data columns (total 51 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 43999 non-null  object
 1   id                         43999 non-null  int64
 2   price                      43999 non-null  float64
 3   discountedPrice            43999 non-null  float64
 4   styleType                  43999 non-null  object
 5   productTypeId              43999 non-null  int64
 6   articleNumber              43999 non-null  object
 7   visualTag                  1263 non-null   object
 8   productDisplayName         43997 non-null  object
 9   variantName                43992 non-null  object
 10  myntraRating               43999 non-null  int64
 11  catalogAddDate             43999 non-null  int64
 12  brandName                  43999 non-null  object
 13  ageGroup                   43999 non-null  object
 14  gender                     43999 non-null  object
 15  baseColour                 43993 non-null  object
 16  colour1                    11754 non-null  object
 17  colour2                    2198 non-null   object
 18  fashionType                43996 non-null  object
 19  season                     43978 non-null  object
 20  year                       43998 non-null  float64
 21  usage                      43999 non-null  object
 22  vat                        43999 non-null  float64
 23  displayCategories          38603 non-null  object
 24  weight                     43999 non-null  int64
 25  navigationId               43999 non-null  int64
 26  landingPageUrl             43999 non-null  object
 27  articleAttributes          43999 non-null  object
 28  crossLinks                 43999 non-null  object
 29  brandUserProfile           43999 non-null  object
 30  codEnabled                 43999 non-null  bool
 31  styleImages                43999 non-null  object
 32  lookGoodAlbum              43999 non-null  object
 33  style360Images             43999 non-null  object
 34  masterCategory             43999 non-null  object
 35  subCategory                43999 non-null  object
 36  articleType                43999 non-null  object
 37  isEMIEnabled               43999 non-null  bool
 38  otherFlags                 43999 non-null  object
 39  articleDisplayAttr         43999 non-null  object
 40  productDescriptors         43999 non-null  object
 41  styleOptions               43999 non-null  object
 42  colours                    16256 non-null  object
 43  discountData               9901 non-null   object
 44  styleVideoAlbumList        4 non-null      object
 45  productSpecificationEntry  686 non-null    object
 46  associatedImageProducts    5 non-null      object
 47  relatedStyleOptions        6 non-null      object
 48  Main_Category              43999 non-null  object
 49  Sub_Category               43999 non-null  object
 50  Sub_Sub_Category           43999 non-null  object
dtypes: bool(2), float64(4), int64(6), object(39)
memory usage: 16.9+ MB

In [8]:
df1.to_csv("Semi_proccessed_Complete_Jdatav2.csv")

In [9]:
df1

,Unnamed: 0,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,variantName,myntraRating,catalogAddDate,brandName,ageGroup,gender,baseColour,colour1,colour2,fashionType,season,year,usage,vat,displayCategories,weight,navigationId,landingPageUrl,articleAttributes,crossLinks,brandUserProfile,codEnabled,styleImages,lookGoodAlbum,style360Images,masterCategory,subCategory,articleType,isEMIEnabled,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,colours,discountData,styleVideoAlbumList,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,Main_Category,Sub_Category,Sub_Sub_Category
0,data,1163,895.0,895.0,DEL,219,409962-480-895,NaN,Nike Sahara Team India Fanwear Round Neck Jersey,Roundneck Jersey,1,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2011.0,Sports,5.5,"Sports Wear,Sale",0,0,Tshirts/Nike/Nike-Sahara-Team-India-Fanwear-Ro...,"{'Fit': 'Regular Fit', 'Fabric 3': 'NA', 'Body...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 8289, 'name': 'Size', 'value': 'XXS', ...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
1,data,1164,1595.0,1595.0,P,289,Nike Sahara Jersey,eoss:PREMIUM,Nike Men Blue T20 Indian Cricket Jersey,Collared Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Winter,2015.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Men-Blue-T20-Indian-Cricket-...,"{'Pattern': 'Solid', 'Body or Garment Size': '...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 2995, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
2,data,1165,2495.0,2495.0,D,219,Nike Jersey,NaN,Nike Mean Team India Cricket Jersey,Authentic Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2013.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Mean-Team-India-Cricket-Jers...,"{'Sleeve Styling': 'Raglan Sleeves', 'Multipac...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 3001, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
3,data,1525,1299.0,1299.0,P,597,6818802,NaN,Puma Deck Navy Blue Backpack,Deck Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Navy Blue,NaN,NaN,Fashion,Fall,2010.0,Casual,14.5,Accessories,0,0,Backpacks/Puma/Puma-Deck-Navy-Blue-Backpack/15...,"{'Occasion': 'Casual', 'Size': 'Medium', 'Lapt...","[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9676, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'1697': {'dre_landing_page_url': '...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
4,data,1526,1299.0,1299.0,P,294,6814201,NaN,Puma Big Cat Backpack Black,Big Cat Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Black,NaN,NaN,Fashion,Fall,2010.0,Sports,14.5,Accessories,0,0,Backpacks/Puma/Puma-Big-Cat-Backpack-Black/152...,{},"[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9678, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'13698': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43994,data,59995,4300.0,2150.0,P,379,SR370-Black,NaN,Avirate Black Dress,Women Dress,0,1460961620,Avirate,Adults-Women,Women,Black,NaN,NaN,Fashion,Fall,2012.0,Party,5.5,NaN,0,1080,Dresses/Avirate/Avirate-Black-Dress/59995/buy,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397176, 'name': 'Size', 'value': 'US4'...",NaN,"{'discountType': 1, 'discountAmount': 2150, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43995,data,59996,3400.0,1700.0,P,379,SR394-PURPLE MIX-59996,NaN,Avirate Black & Purple Dress,Dress,0,1478255240,Avirate,Adults-Women,Women,Purple,NaN,NaN,Fashion,Summer,2014.0,Casual,5.5,Casual Wear,0,1259,Dresses/Avirate/Avirate-Black--Purple-Dress/59...,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397165, 'name': 'Size', 'value': 'US14...",NaN,"{'discountType': 1, 'discountAmount': 1700, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43996,data,59998,1395.0,1395.0,P,445,9861EMT,NaN,Catwalk Women Multi Coloured Heels,catwalk sandal,0,1450936788,Catwalk,Adults-Women,Women,Multi,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Multi-Coloured-Hee...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220509, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43997,data,59999,1595.0,1595.0,P,445,9874BX,NaN,Catwalk Women Bronze Wedges,catwalk sandal,0,1447910988,Catwalk,Adults-Women,Women,Bronze,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Bronze-Wedges/5999...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220514, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43998,data,60000,499.0,499.0,DEL,364,AJ0056 Blue,NaN,Alma Women Blue Kurta,Alma Orange Kurta,1,1444139425,Alma,Adults-Women,Women,Blue,NaN,NaN,Fashion,Fall,2012.0,Ethnic,5.5,Ethnic Wear,0,607,Kurtas/Alma/Alma-Women-Blue-Kurta/60000/buy,{'Body or Garment Size': 'Garment Measurements...,"[{'key': 'More Kurtas by Alma', 'value': 'kurt...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 83, 'typeName': 'Kurtas', 'active': Tru...",False,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 83, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220518, 'name': 'Size', 'value': 'S', ...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Apparel,Topwear

In [10]:
df1

,Unnamed: 0,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,variantName,myntraRating,catalogAddDate,brandName,ageGroup,gender,baseColour,colour1,colour2,fashionType,season,year,usage,vat,displayCategories,weight,navigationId,landingPageUrl,articleAttributes,crossLinks,brandUserProfile,codEnabled,styleImages,lookGoodAlbum,style360Images,masterCategory,subCategory,articleType,isEMIEnabled,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,colours,discountData,styleVideoAlbumList,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,Main_Category,Sub_Category,Sub_Sub_Category
0,data,1163,895.0,895.0,DEL,219,409962-480-895,NaN,Nike Sahara Team India Fanwear Round Neck Jersey,Roundneck Jersey,1,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2011.0,Sports,5.5,"Sports Wear,Sale",0,0,Tshirts/Nike/Nike-Sahara-Team-India-Fanwear-Ro...,"{'Fit': 'Regular Fit', 'Fabric 3': 'NA', 'Body...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 8289, 'name': 'Size', 'value': 'XXS', ...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
1,data,1164,1595.0,1595.0,P,289,Nike Sahara Jersey,eoss:PREMIUM,Nike Men Blue T20 Indian Cricket Jersey,Collared Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Winter,2015.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Men-Blue-T20-Indian-Cricket-...,"{'Pattern': 'Solid', 'Body or Garment Size': '...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 2995, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
2,data,1165,2495.0,2495.0,D,219,Nike Jersey,NaN,Nike Mean Team India Cricket Jersey,Authentic Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2013.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Mean-Team-India-Cricket-Jers...,"{'Sleeve Styling': 'Raglan Sleeves', 'Multipac...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 3001, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
3,data,1525,1299.0,1299.0,P,597,6818802,NaN,Puma Deck Navy Blue Backpack,Deck Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Navy Blue,NaN,NaN,Fashion,Fall,2010.0,Casual,14.5,Accessories,0,0,Backpacks/Puma/Puma-Deck-Navy-Blue-Backpack/15...,"{'Occasion': 'Casual', 'Size': 'Medium', 'Lapt...","[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9676, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'1697': {'dre_landing_page_url': '...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
4,data,1526,1299.0,1299.0,P,294,6814201,NaN,Puma Big Cat Backpack Black,Big Cat Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Black,NaN,NaN,Fashion,Fall,2010.0,Sports,14.5,Accessories,0,0,Backpacks/Puma/Puma-Big-Cat-Backpack-Black/152...,{},"[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9678, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'13698': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43994,data,59995,4300.0,2150.0,P,379,SR370-Black,NaN,Avirate Black Dress,Women Dress,0,1460961620,Avirate,Adults-Women,Women,Black,NaN,NaN,Fashion,Fall,2012.0,Party,5.5,NaN,0,1080,Dresses/Avirate/Avirate-Black-Dress/59995/buy,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397176, 'name': 'Size', 'value': 'US4'...",NaN,"{'discountType': 1, 'discountAmount': 2150, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43995,data,59996,3400.0,1700.0,P,379,SR394-PURPLE MIX-59996,NaN,Avirate Black & Purple Dress,Dress,0,1478255240,Avirate,Adults-Women,Women,Purple,NaN,NaN,Fashion,Summer,2014.0,Casual,5.5,Casual Wear,0,1259,Dresses/Avirate/Avirate-Black--Purple-Dress/59...,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397165, 'name': 'Size', 'value': 'US14...",NaN,"{'discountType': 1, 'discountAmount': 1700, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43996,data,59998,1395.0,1395.0,P,445,9861EMT,NaN,Catwalk Women Multi Coloured Heels,catwalk sandal,0,1450936788,Catwalk,Adults-Women,Women,Multi,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Multi-Coloured-Hee...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220509, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43997,data,59999,1595.0,1595.0,P,445,9874BX,NaN,Catwalk Women Bronze Wedges,catwalk sandal,0,1447910988,Catwalk,Adults-Women,Women,Bronze,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Bronze-Wedges/5999...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220514, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43998,data,60000,499.0,499.0,DEL,364,AJ0056 Blue,NaN,Alma Women Blue Kurta,Alma Orange Kurta,1,1444139425,Alma,Adults-Women,Women,Blue,NaN,NaN,Fashion,Fall,2012.0,Ethnic,5.5,Ethnic Wear,0,607,Kurtas/Alma/Alma-Women-Blue-Kurta/60000/buy,{'Body or Garment Size': 'Garment Measurements...,"[{'key': 'More Kurtas by Alma', 'value': 'kurt...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 83, 'typeName': 'Kurtas', 'active': Tru...",False,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 83, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220518, 'name': 'Size', 'value': 'S', ...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Apparel,Topwear

In [11]:
df1

,Unnamed: 0,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,variantName,myntraRating,catalogAddDate,brandName,ageGroup,gender,baseColour,colour1,colour2,fashionType,season,year,usage,vat,displayCategories,weight,navigationId,landingPageUrl,articleAttributes,crossLinks,brandUserProfile,codEnabled,styleImages,lookGoodAlbum,style360Images,masterCategory,subCategory,articleType,isEMIEnabled,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,colours,discountData,styleVideoAlbumList,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,Main_Category,Sub_Category,Sub_Sub_Category
0,data,1163,895.0,895.0,DEL,219,409962-480-895,NaN,Nike Sahara Team India Fanwear Round Neck Jersey,Roundneck Jersey,1,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2011.0,Sports,5.5,"Sports Wear,Sale",0,0,Tshirts/Nike/Nike-Sahara-Team-India-Fanwear-Ro...,"{'Fit': 'Regular Fit', 'Fabric 3': 'NA', 'Body...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 8289, 'name': 'Size', 'value': 'XXS', ...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
1,data,1164,1595.0,1595.0,P,289,Nike Sahara Jersey,eoss:PREMIUM,Nike Men Blue T20 Indian Cricket Jersey,Collared Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Winter,2015.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Men-Blue-T20-Indian-Cricket-...,"{'Pattern': 'Solid', 'Body or Garment Size': '...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 2995, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
2,data,1165,2495.0,2495.0,D,219,Nike Jersey,NaN,Nike Mean Team India Cricket Jersey,Authentic Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2013.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Mean-Team-India-Cricket-Jers...,"{'Sleeve Styling': 'Raglan Sleeves', 'Multipac...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 3001, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
3,data,1525,1299.0,1299.0,P,597,6818802,NaN,Puma Deck Navy Blue Backpack,Deck Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Navy Blue,NaN,NaN,Fashion,Fall,2010.0,Casual,14.5,Accessories,0,0,Backpacks/Puma/Puma-Deck-Navy-Blue-Backpack/15...,"{'Occasion': 'Casual', 'Size': 'Medium', 'Lapt...","[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9676, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'1697': {'dre_landing_page_url': '...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
4,data,1526,1299.0,1299.0,P,294,6814201,NaN,Puma Big Cat Backpack Black,Big Cat Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Black,NaN,NaN,Fashion,Fall,2010.0,Sports,14.5,Accessories,0,0,Backpacks/Puma/Puma-Big-Cat-Backpack-Black/152...,{},"[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9678, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'13698': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43994,data,59995,4300.0,2150.0,P,379,SR370-Black,NaN,Avirate Black Dress,Women Dress,0,1460961620,Avirate,Adults-Women,Women,Black,NaN,NaN,Fashion,Fall,2012.0,Party,5.5,NaN,0,1080,Dresses/Avirate/Avirate-Black-Dress/59995/buy,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397176, 'name': 'Size', 'value': 'US4'...",NaN,"{'discountType': 1, 'discountAmount': 2150, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43995,data,59996,3400.0,1700.0,P,379,SR394-PURPLE MIX-59996,NaN,Avirate Black & Purple Dress,Dress,0,1478255240,Avirate,Adults-Women,Women,Purple,NaN,NaN,Fashion,Summer,2014.0,Casual,5.5,Casual Wear,0,1259,Dresses/Avirate/Avirate-Black--Purple-Dress/59...,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397165, 'name': 'Size', 'value': 'US14...",NaN,"{'discountType': 1, 'discountAmount': 1700, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43996,data,59998,1395.0,1395.0,P,445,9861EMT,NaN,Catwalk Women Multi Coloured Heels,catwalk sandal,0,1450936788,Catwalk,Adults-Women,Women,Multi,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Multi-Coloured-Hee...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220509, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43997,data,59999,1595.0,1595.0,P,445,9874BX,NaN,Catwalk Women Bronze Wedges,catwalk sandal,0,1447910988,Catwalk,Adults-Women,Women,Bronze,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Bronze-Wedges/5999...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220514, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43998,data,60000,499.0,499.0,DEL,364,AJ0056 Blue,NaN,Alma Women Blue Kurta,Alma Orange Kurta,1,1444139425,Alma,Adults-Women,Women,Blue,NaN,NaN,Fashion,Fall,2012.0,Ethnic,5.5,Ethnic Wear,0,607,Kurtas/Alma/Alma-Women-Blue-Kurta/60000/buy,{'Body or Garment Size': 'Garment Measurements...,"[{'key': 'More Kurtas by Alma', 'value': 'kurt...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 83, 'typeName': 'Kurtas', 'active': Tru...",False,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 83, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220518, 'name': 'Size', 'value': 'S', ...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Apparel,Topwear

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43999 entries, 0 to 43998
Data columns (total 51 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 43999 non-null  object
 1   id                         43999 non-null  int64
 2   price                      43999 non-null  float64
 3   discountedPrice            43999 non-null  float64
 4   styleType                  43999 non-null  object
 5   productTypeId              43999 non-null  int64
 6   articleNumber              43999 non-null  object
 7   visualTag                  1263 non-null   object
 8   productDisplayName         43997 non-null  object
 9   variantName                43992 non-null  object
 10  myntraRating               43999 non-null  int64
 11  catalogAddDate             43999 non-null  int64
 12  brandName                  43999 non-null  object
 13  ageGroup                   43999 non-null  object
 14  gender                     43999 non-null  object
 15  baseColour                 43993 non-null  object
 16  colour1                    11754 non-null  object
 17  colour2                    2198 non-null   object
 18  fashionType                43996 non-null  object
 19  season                     43978 non-null  object
 20  year                       43998 non-null  float64
 21  usage                      43999 non-null  object
 22  vat                        43999 non-null  float64
 23  displayCategories          38603 non-null  object
 24  weight                     43999 non-null  int64
 25  navigationId               43999 non-null  int64
 26  landingPageUrl             43999 non-null  object
 27  articleAttributes          43999 non-null  object
 28  crossLinks                 43999 non-null  object
 29  brandUserProfile           43999 non-null  object
 30  codEnabled                 43999 non-null  bool
 31  styleImages                43999 non-null  object
 32  lookGoodAlbum              43999 non-null  object
 33  style360Images             43999 non-null  object
 34  masterCategory             43999 non-null  object
 35  subCategory                43999 non-null  object
 36  articleType                43999 non-null  object
 37  isEMIEnabled               43999 non-null  bool
 38  otherFlags                 43999 non-null  object
 39  articleDisplayAttr         43999 non-null  object
 40  productDescriptors         43999 non-null  object
 41  styleOptions               43999 non-null  object
 42  colours                    16256 non-null  object
 43  discountData               9901 non-null   object
 44  styleVideoAlbumList        4 non-null      object
 45  productSpecificationEntry  686 non-null    object
 46  associatedImageProducts    5 non-null      object
 47  relatedStyleOptions        6 non-null      object
 48  Main_Category              43999 non-null  object
 49  Sub_Category               43999 non-null  object
 50  Sub_Sub_Category           43999 non-null  object
dtypes: bool(2), float64(4), int64(6), object(39)
memory usage: 16.9+ MB

In [13]:
import ast

In [14]:
TBDF_ProductAttributes=[ast.literal_eval(df1.iloc[[0]].masterCategory.values.tolist()[0])]
DF_ProductAttributes=pd.DataFrame(TBDF_ProductAttributes)
DF_ProductAttributes

,id,typeName,active,socialSharingEnabled,isReturnable,isExchangeable,pickupEnabled,isTryAndBuyEnabled
0,9,Apparel,True,True,True,True,True,True

In [15]:
len(df1)

43999

In [16]:
master_categoryDF=DF_ProductAttributes
for i in range (1,len(df1)):
    TBDF_ProductAttributes=[ast.literal_eval(df1.iloc[[i]].masterCategory.values.tolist()[0])]
    DF_ProductAttributes=pd.DataFrame(TBDF_ProductAttributes)
    DF_ProductAttributes
    master_categoryDF=master_categoryDF.append(DF_ProductAttributes)

In [17]:
len(master_categoryDF)

43999

In [18]:
master_categoryDF

,id,typeName,active,socialSharingEnabled,isReturnable,isExchangeable,pickupEnabled,isTryAndBuyEnabled
0,9,Apparel,True,True,True,True,True,True
0,9,Apparel,True,True,True,True,True,True
0,9,Apparel,True,True,True,True,True,True
0,1,Accessories,True,True,True,True,True,True
0,1,Accessories,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
0,9,Apparel,True,True,True,True,True,True
0,9,Apparel,True,True,True,True,True,True
0,10,Footwear,True,True,True,True,True,True
0,10,Footwear,True,True,True,True,True,True
0,9,Apparel,True,True,True,True,True,True

In [19]:
master_categoryDF.to_csv('master_categoryDF.csv',index=False)

In [20]:
MCategoryName=master_categoryDF['typeName'].unique()

In [21]:
MCategoryName

array(['Apparel', 'Accessories', 'Footwear', 'Sporting Goods',
       'Personal Care'], dtype=object)

In [22]:
allmcategory=pd.DataFrame(master_categoryDF['typeName'])
allmcategory=allmcategory.reset_index(drop=True)
allmcategory

          typeName
0          Apparel
1          Apparel
2          Apparel
3      Accessories
4      Accessories
...            ...
43994      Apparel
43995      Apparel
43996     Footwear
43997     Footwear
43998      Apparel

[43999 rows x 1 columns]

In [23]:
df1=df1.reset_index(drop=True)
df1

,Unnamed: 0,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,variantName,myntraRating,catalogAddDate,brandName,ageGroup,gender,baseColour,colour1,colour2,fashionType,season,year,usage,vat,displayCategories,weight,navigationId,landingPageUrl,articleAttributes,crossLinks,brandUserProfile,codEnabled,styleImages,lookGoodAlbum,style360Images,masterCategory,subCategory,articleType,isEMIEnabled,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,colours,discountData,styleVideoAlbumList,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,Main_Category,Sub_Category,Sub_Sub_Category
0,data,1163,895.0,895.0,DEL,219,409962-480-895,NaN,Nike Sahara Team India Fanwear Round Neck Jersey,Roundneck Jersey,1,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2011.0,Sports,5.5,"Sports Wear,Sale",0,0,Tshirts/Nike/Nike-Sahara-Team-India-Fanwear-Ro...,"{'Fit': 'Regular Fit', 'Fabric 3': 'NA', 'Body...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 8289, 'name': 'Size', 'value': 'XXS', ...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
1,data,1164,1595.0,1595.0,P,289,Nike Sahara Jersey,eoss:PREMIUM,Nike Men Blue T20 Indian Cricket Jersey,Collared Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Winter,2015.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Men-Blue-T20-Indian-Cricket-...,"{'Pattern': 'Solid', 'Body or Garment Size': '...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 2995, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
2,data,1165,2495.0,2495.0,D,219,Nike Jersey,NaN,Nike Mean Team India Cricket Jersey,Authentic Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2013.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Mean-Team-India-Cricket-Jers...,"{'Sleeve Styling': 'Raglan Sleeves', 'Multipac...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 3001, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear
3,data,1525,1299.0,1299.0,P,597,6818802,NaN,Puma Deck Navy Blue Backpack,Deck Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Navy Blue,NaN,NaN,Fashion,Fall,2010.0,Casual,14.5,Accessories,0,0,Backpacks/Puma/Puma-Deck-Navy-Blue-Backpack/15...,"{'Occasion': 'Casual', 'Size': 'Medium', 'Lapt...","[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9676, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'1697': {'dre_landing_page_url': '...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
4,data,1526,1299.0,1299.0,P,294,6814201,NaN,Puma Big Cat Backpack Black,Big Cat Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Black,NaN,NaN,Fashion,Fall,2010.0,Sports,14.5,Accessories,0,0,Backpacks/Puma/Puma-Big-Cat-Backpack-Black/152...,{},"[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9678, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'13698': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43994,data,59995,4300.0,2150.0,P,379,SR370-Black,NaN,Avirate Black Dress,Women Dress,0,1460961620,Avirate,Adults-Women,Women,Black,NaN,NaN,Fashion,Fall,2012.0,Party,5.5,NaN,0,1080,Dresses/Avirate/Avirate-Black-Dress/59995/buy,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397176, 'name': 'Size', 'value': 'US4'...",NaN,"{'discountType': 1, 'discountAmount': 2150, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43995,data,59996,3400.0,1700.0,P,379,SR394-PURPLE MIX-59996,NaN,Avirate Black & Purple Dress,Dress,0,1478255240,Avirate,Adults-Women,Women,Purple,NaN,NaN,Fashion,Summer,2014.0,Casual,5.5,Casual Wear,0,1259,Dresses/Avirate/Avirate-Black--Purple-Dress/59...,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397165, 'name': 'Size', 'value': 'US14...",NaN,"{'discountType': 1, 'discountAmount': 1700, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress
43996,data,59998,1395.0,1395.0,P,445,9861EMT,NaN,Catwalk Women Multi Coloured Heels,catwalk sandal,0,1450936788,Catwalk,Adults-Women,Women,Multi,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Multi-Coloured-Hee...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220509, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43997,data,59999,1595.0,1595.0,P,445,9874BX,NaN,Catwalk Women Bronze Wedges,catwalk sandal,0,1447910988,Catwalk,Adults-Women,Women,Bronze,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Bronze-Wedges/5999...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220514, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes
43998,data,60000,499.0,499.0,DEL,364,AJ0056 Blue,NaN,Alma Women Blue Kurta,Alma Orange Kurta,1,1444139425,Alma,Adults-Women,Women,Blue,NaN,NaN,Fashion,Fall,2012.0,Ethnic,5.5,Ethnic Wear,0,607,Kurtas/Alma/Alma-Women-Blue-Kurta/60000/buy,{'Body or Garment Size': 'Garment Measurements...,"[{'key': 'More Kurtas by Alma', 'value': 'kurt...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 83, 'typeName': 'Kurtas', 'active': Tru...",False,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 83, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220518, 'name': 'Size', 'value': 'S', ...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Apparel,Topwear

In [24]:
AllData=pd.concat([df1,allmcategory],axis=1)
AllData

,Unnamed: 0,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,variantName,myntraRating,catalogAddDate,brandName,ageGroup,gender,baseColour,colour1,colour2,fashionType,season,year,usage,vat,displayCategories,weight,navigationId,landingPageUrl,articleAttributes,crossLinks,brandUserProfile,codEnabled,styleImages,lookGoodAlbum,style360Images,masterCategory,subCategory,articleType,isEMIEnabled,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,colours,discountData,styleVideoAlbumList,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,Main_Category,Sub_Category,Sub_Sub_Category,typeName
0,data,1163,895.0,895.0,DEL,219,409962-480-895,NaN,Nike Sahara Team India Fanwear Round Neck Jersey,Roundneck Jersey,1,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2011.0,Sports,5.5,"Sports Wear,Sale",0,0,Tshirts/Nike/Nike-Sahara-Team-India-Fanwear-Ro...,"{'Fit': 'Regular Fit', 'Fabric 3': 'NA', 'Body...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 8289, 'name': 'Size', 'value': 'XXS', ...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel
1,data,1164,1595.0,1595.0,P,289,Nike Sahara Jersey,eoss:PREMIUM,Nike Men Blue T20 Indian Cricket Jersey,Collared Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Winter,2015.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Men-Blue-T20-Indian-Cricket-...,"{'Pattern': 'Solid', 'Body or Garment Size': '...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 2995, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel
2,data,1165,2495.0,2495.0,D,219,Nike Jersey,NaN,Nike Mean Team India Cricket Jersey,Authentic Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2013.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Mean-Team-India-Cricket-Jers...,"{'Sleeve Styling': 'Raglan Sleeves', 'Multipac...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 3001, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel
3,data,1525,1299.0,1299.0,P,597,6818802,NaN,Puma Deck Navy Blue Backpack,Deck Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Navy Blue,NaN,NaN,Fashion,Fall,2010.0,Casual,14.5,Accessories,0,0,Backpacks/Puma/Puma-Deck-Navy-Blue-Backpack/15...,"{'Occasion': 'Casual', 'Size': 'Medium', 'Lapt...","[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9676, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'1697': {'dre_landing_page_url': '...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags,Accessories
4,data,1526,1299.0,1299.0,P,294,6814201,NaN,Puma Big Cat Backpack Black,Big Cat Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Black,NaN,NaN,Fashion,Fall,2010.0,Sports,14.5,Accessories,0,0,Backpacks/Puma/Puma-Big-Cat-Backpack-Black/152...,{},"[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9678, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'13698': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags,Accessories
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43994,data,59995,4300.0,2150.0,P,379,SR370-Black,NaN,Avirate Black Dress,Women Dress,0,1460961620,Avirate,Adults-Women,Women,Black,NaN,NaN,Fashion,Fall,2012.0,Party,5.5,NaN,0,1080,Dresses/Avirate/Avirate-Black-Dress/59995/buy,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397176, 'name': 'Size', 'value': 'US4'...",NaN,"{'discountType': 1, 'discountAmount': 2150, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress,Apparel
43995,data,59996,3400.0,1700.0,P,379,SR394-PURPLE MIX-59996,NaN,Avirate Black & Purple Dress,Dress,0,1478255240,Avirate,Adults-Women,Women,Purple,NaN,NaN,Fashion,Summer,2014.0,Casual,5.5,Casual Wear,0,1259,Dresses/Avirate/Avirate-Black--Purple-Dress/59...,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397165, 'name': 'Size', 'value': 'US14...",NaN,"{'discountType': 1, 'discountAmount': 1700, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress,Apparel
43996,data,59998,1395.0,1395.0,P,445,9861EMT,NaN,Catwalk Women Multi Coloured Heels,catwalk sandal,0,1450936788,Catwalk,Adults-Women,Women,Multi,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Multi-Coloured-Hee...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220509, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes,Footwear
43997,data,59999,1595.0,1595.0,P,445,9874BX,NaN,Catwalk Women Bronze Wedges,catwalk sandal,0,1447910988,Catwalk,Adults-Women,Women,Bronze,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Bronze-Wedges/5999...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220514, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes,Footwear
43998,data,60000,499.0,499.0,DEL,364,AJ0056 Blue,NaN,Alma Women Blue Kurta,Alma Orange Kurta,1,1444139425,Alma,Adults-Women,Women,Blue,NaN,NaN,Fashion,Fall,2012.0,Ethnic,5.5,Ethnic Wear,0,607,Kurtas/Alma/Alma-Women-Blue-Kurta/60000/buy,{'Body or Garment Size': 'Garment Measurements...,"[{'key': 'More Kurtas by Alma', 'value': 'kurt...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 83, 'typeName': 'Kurtas', 'active': Tru...",False,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 83, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220518, 'name': 'Size', 'value': 'S', ...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Apparel,Topwear,Apparel

In [25]:
AllData=AllData[(AllData.typeName != "Free Items") & (AllData.typeName != "Home")]

In [26]:
AllData=AllData.reset_index(drop=True)
AllData

,Unnamed: 0,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,variantName,myntraRating,catalogAddDate,brandName,ageGroup,gender,baseColour,colour1,colour2,fashionType,season,year,usage,vat,displayCategories,weight,navigationId,landingPageUrl,articleAttributes,crossLinks,brandUserProfile,codEnabled,styleImages,lookGoodAlbum,style360Images,masterCategory,subCategory,articleType,isEMIEnabled,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,colours,discountData,styleVideoAlbumList,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,Main_Category,Sub_Category,Sub_Sub_Category,typeName
0,data,1163,895.0,895.0,DEL,219,409962-480-895,NaN,Nike Sahara Team India Fanwear Round Neck Jersey,Roundneck Jersey,1,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2011.0,Sports,5.5,"Sports Wear,Sale",0,0,Tshirts/Nike/Nike-Sahara-Team-India-Fanwear-Ro...,"{'Fit': 'Regular Fit', 'Fabric 3': 'NA', 'Body...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 8289, 'name': 'Size', 'value': 'XXS', ...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel
1,data,1164,1595.0,1595.0,P,289,Nike Sahara Jersey,eoss:PREMIUM,Nike Men Blue T20 Indian Cricket Jersey,Collared Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Winter,2015.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Men-Blue-T20-Indian-Cricket-...,"{'Pattern': 'Solid', 'Body or Garment Size': '...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 2995, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel
2,data,1165,2495.0,2495.0,D,219,Nike Jersey,NaN,Nike Mean Team India Cricket Jersey,Authentic Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2013.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Mean-Team-India-Cricket-Jers...,"{'Sleeve Styling': 'Raglan Sleeves', 'Multipac...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 3001, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel
3,data,1525,1299.0,1299.0,P,597,6818802,NaN,Puma Deck Navy Blue Backpack,Deck Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Navy Blue,NaN,NaN,Fashion,Fall,2010.0,Casual,14.5,Accessories,0,0,Backpacks/Puma/Puma-Deck-Navy-Blue-Backpack/15...,"{'Occasion': 'Casual', 'Size': 'Medium', 'Lapt...","[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9676, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'1697': {'dre_landing_page_url': '...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags,Accessories
4,data,1526,1299.0,1299.0,P,294,6814201,NaN,Puma Big Cat Backpack Black,Big Cat Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Black,NaN,NaN,Fashion,Fall,2010.0,Sports,14.5,Accessories,0,0,Backpacks/Puma/Puma-Big-Cat-Backpack-Black/152...,{},"[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9678, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'13698': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags,Accessories
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43994,data,59995,4300.0,2150.0,P,379,SR370-Black,NaN,Avirate Black Dress,Women Dress,0,1460961620,Avirate,Adults-Women,Women,Black,NaN,NaN,Fashion,Fall,2012.0,Party,5.5,NaN,0,1080,Dresses/Avirate/Avirate-Black-Dress/59995/buy,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397176, 'name': 'Size', 'value': 'US4'...",NaN,"{'discountType': 1, 'discountAmount': 2150, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress,Apparel
43995,data,59996,3400.0,1700.0,P,379,SR394-PURPLE MIX-59996,NaN,Avirate Black & Purple Dress,Dress,0,1478255240,Avirate,Adults-Women,Women,Purple,NaN,NaN,Fashion,Summer,2014.0,Casual,5.5,Casual Wear,0,1259,Dresses/Avirate/Avirate-Black--Purple-Dress/59...,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397165, 'name': 'Size', 'value': 'US14...",NaN,"{'discountType': 1, 'discountAmount': 1700, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress,Apparel
43996,data,59998,1395.0,1395.0,P,445,9861EMT,NaN,Catwalk Women Multi Coloured Heels,catwalk sandal,0,1450936788,Catwalk,Adults-Women,Women,Multi,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Multi-Coloured-Hee...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220509, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes,Footwear
43997,data,59999,1595.0,1595.0,P,445,9874BX,NaN,Catwalk Women Bronze Wedges,catwalk sandal,0,1447910988,Catwalk,Adults-Women,Women,Bronze,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Bronze-Wedges/5999...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220514, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes,Footwear
43998,data,60000,499.0,499.0,DEL,364,AJ0056 Blue,NaN,Alma Women Blue Kurta,Alma Orange Kurta,1,1444139425,Alma,Adults-Women,Women,Blue,NaN,NaN,Fashion,Fall,2012.0,Ethnic,5.5,Ethnic Wear,0,607,Kurtas/Alma/Alma-Women-Blue-Kurta/60000/buy,{'Body or Garment Size': 'Garment Measurements...,"[{'key': 'More Kurtas by Alma', 'value': 'kurt...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 83, 'typeName': 'Kurtas', 'active': Tru...",False,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 83, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220518, 'name': 'Size', 'value': 'S', ...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Apparel,Topwear,Apparel

In [27]:
df1=AllData

In [28]:
master_categoryDF=DF_ProductAttributes
for i in range (1,len(df1)):
    TBDF_ProductAttributes=[ast.literal_eval(df1.iloc[[i]].masterCategory.values.tolist()[0])]
    DF_ProductAttributes=pd.DataFrame(TBDF_ProductAttributes)
    DF_ProductAttributes
    master_categoryDF=master_categoryDF.append(DF_ProductAttributes)

In [29]:
MCategoryName=master_categoryDF['typeName'].unique()

In [30]:
MCategoryName

array(['Apparel', 'Accessories', 'Footwear', 'Sporting Goods',
       'Personal Care'], dtype=object)

In [31]:
MCategoryID=master_categoryDF['id'].unique()

In [32]:
MCategoryID

array([ 9,  1, 10, 12, 11], dtype=int64)

In [33]:
TBDF_ProductAttributes=[ast.literal_eval(df1.iloc[[0]].subCategory.values.tolist()[0])]
DF_ProductAttributes=pd.DataFrame(TBDF_ProductAttributes)
DF_ProductAttributes

,id,typeName,active,socialSharingEnabled,isReturnable,isExchangeable,pickupEnabled,isTryAndBuyEnabled
0,31,Topwear,True,True,True,True,True,True

In [34]:
sub_categoryDF=DF_ProductAttributes
for i in range (1,len(df1)):
    TBDF_ProductAttributes=[ast.literal_eval(df1.iloc[[i]].subCategory.values.tolist()[0])]
    DF_ProductAttributes=pd.DataFrame(TBDF_ProductAttributes)
    DF_ProductAttributes
    sub_categoryDF=sub_categoryDF.append(DF_ProductAttributes)

In [35]:
sub_categoryDF.to_csv("sub_categoryDF.csv",index=False)

In [36]:
sub_categoryDF

,id,typeName,active,socialSharingEnabled,isReturnable,isExchangeable,pickupEnabled,isTryAndBuyEnabled
0,31,Topwear,True,True,True,True,True,True
0,31,Topwear,True,True,True,True,True,True
0,31,Topwear,True,True,True,True,True,True
0,2,Bags,True,True,True,True,True,True
0,2,Bags,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...
0,30,Dress,True,True,True,True,True,True
0,30,Dress,True,True,True,True,True,True
0,33,Shoes,True,True,True,True,True,True
0,33,Shoes,True,True,True,True,True,True
0,31,Topwear,True,True,True,True,True,True

In [37]:
SCategoryName=sub_categoryDF['typeName'].unique()

In [38]:
SCategoryName

array(['Topwear', 'Bags', 'Headwear', 'Shoes', 'Sports Equipment',
       'Water Bottle', 'Bottomwear', 'Sandal', 'Accessories',
       'Apparel Set', 'Flip Flops', 'Socks', 'Dress', 'Belts', 'Watches',
       'Innerwear', 'Shoe Accessories', 'Wallets',
       'Loungewear and Nightwear', 'Eyewear', 'Sports Accessories',
       'Wristbands', 'Scarves', 'Ties', 'Saree', 'Stoles', 'Mufflers',
       'Cufflinks', 'Jewellery', 'Umbrellas', 'Fragrance', 'Gloves',
       'Perfumes', 'Bath and Body', 'Eyes', 'Nails', 'Makeup', 'Lips',
       'Skin Care', 'Skin', 'Beauty Accessories', 'Hair'], dtype=object)

In [39]:
SCategoryID=sub_categoryDF['id'].unique()

In [40]:
SCategoryID

array([ 31,   2,  18,  33, 549, 117,  29,  32, 166, 250, 126,  22,  30,
        13,  27, 136, 128,  26, 200,  15, 402, 119, 115,  24, 309,  23,
        20,  14, 146,  25,  36,  16, 161, 418, 266, 264, 265, 263, 290,
        39, 288,  37], dtype=int64)

In [41]:
MCD=master_categoryDF[['id','typeName']]

In [42]:
MCD=MCD.rename(columns={'id': 'mid','typeName':'MtypeName'})

In [43]:
MCD

    mid    MtypeName
0     9      Apparel
0     9      Apparel
0     9      Apparel
0     1  Accessories
0     1  Accessories
..  ...          ...
0     9      Apparel
0     9      Apparel
0    10     Footwear
0    10     Footwear
0     9      Apparel

[43999 rows x 2 columns]

In [44]:
result = pd.concat([MCD, sub_categoryDF[['id','typeName']]], axis=1)

In [45]:
result

    mid    MtypeName  id typeName
0     9      Apparel  31  Topwear
0     9      Apparel  31  Topwear
0     9      Apparel  31  Topwear
0     1  Accessories   2     Bags
0     1  Accessories   2     Bags
..  ...          ...  ..      ...
0     9      Apparel  30    Dress
0     9      Apparel  30    Dress
0    10     Footwear  33    Shoes
0    10     Footwear  33    Shoes
0     9      Apparel  31  Topwear

[43999 rows x 4 columns]

In [46]:
Apperal9=result.loc[result['mid'] == 9]

In [47]:
Apperal9=Apperal9['typeName'].unique()

In [48]:
Apperal9

array(['Topwear', 'Bottomwear', 'Apparel Set', 'Dress', 'Innerwear',
       'Loungewear and Nightwear', 'Saree', 'Socks'], dtype=object)

In [49]:
MCD

    mid    MtypeName
0     9      Apparel
0     9      Apparel
0     9      Apparel
0     1  Accessories
0     1  Accessories
..  ...          ...
0     9      Apparel
0     9      Apparel
0    10     Footwear
0    10     Footwear
0     9      Apparel

[43999 rows x 2 columns]

In [50]:
MCD=MCD.reset_index()

In [51]:
MCD

       index  mid    MtypeName
0          0    9      Apparel
1          0    9      Apparel
2          0    9      Apparel
3          0    1  Accessories
4          0    1  Accessories
...      ...  ...          ...
43994      0    9      Apparel
43995      0    9      Apparel
43996      0   10     Footwear
43997      0   10     Footwear
43998      0    9      Apparel

[43999 rows x 3 columns]

In [52]:
subC=pd.DataFrame(df1['usage'])
subC=subC.reset_index()
subC

       index   usage
0          0  Sports
1          1  Sports
2          2  Sports
3          3  Casual
4          4  Sports
...      ...     ...
43994  43994   Party
43995  43995  Casual
43996  43996  Casual
43997  43997  Casual
43998  43998  Ethnic

[43999 rows x 2 columns]

In [53]:
subresult = pd.concat([MCD,subC], axis=1)

In [54]:
subresult

       index  mid    MtypeName  index   usage
0          0    9      Apparel      0  Sports
1          0    9      Apparel      1  Sports
2          0    9      Apparel      2  Sports
3          0    1  Accessories      3  Casual
4          0    1  Accessories      4  Sports
...      ...  ...          ...    ...     ...
43994      0    9      Apparel  43994   Party
43995      0    9      Apparel  43995  Casual
43996      0   10     Footwear  43996  Casual
43997      0   10     Footwear  43997  Casual
43998      0    9      Apparel  43998  Ethnic

[43999 rows x 5 columns]

In [55]:
sub_categoryDF[['id','typeName']]

    id typeName
0   31  Topwear
0   31  Topwear
0   31  Topwear
0    2     Bags
0    2     Bags
..  ..      ...
0   30    Dress
0   30    Dress
0   33    Shoes
0   33    Shoes
0   31  Topwear

[43999 rows x 2 columns]

In [56]:
Apperal9=subresult.loc[subresult['mid'] == 9]

In [57]:
Apperal9

       index  mid MtypeName  index   usage
0          0    9   Apparel      0  Sports
1          0    9   Apparel      1  Sports
2          0    9   Apparel      2  Sports
5          0    9   Apparel      5  Sports
6          0    9   Apparel      6  Casual
...      ...  ...       ...    ...     ...
43992      0    9   Apparel  43992  Casual
43993      0    9   Apparel  43993  Formal
43994      0    9   Apparel  43994   Party
43995      0    9   Apparel  43995  Casual
43998      0    9   Apparel  43998  Ethnic

[21371 rows x 5 columns]

In [58]:
Apperal9=Apperal9['usage'].unique()

In [59]:
Apperal9

array(['Sports', 'Casual', 'Formal', 'Ethnic', 'Smart Casual', 'Party',
       'Travel'], dtype=object)

In [60]:
subresult['usage'].unique()

array(['Sports', 'Casual', 'Travel', 'Formal', 'Smart Casual', 'Ethnic',
       'Party'], dtype=object)

In [61]:
is_NaN = subresult.isnull()
row_has_NaN = is_NaN.any(axis=1)

In [62]:
subresult[row_has_NaN]

Empty DataFrame
Columns: [index, mid, MtypeName, index, usage]
Index: []

In [63]:
df1['gender'].unique()

array(['Men', 'Unisex', 'Women', 'Girls', 'Boys'], dtype=object)

In [64]:
gender=pd.DataFrame(df1['gender'])
gender=gender.reset_index(drop=True)
gender.info

<bound method DataFrame.info of        gender
0         Men
1         Men
2         Men
3      Unisex
4      Unisex
...       ...
43994   Women
43995   Women
43996   Women
43997   Women
43998   Women

[43999 rows x 1 columns]>

In [65]:
gender

       gender
0         Men
1         Men
2         Men
3      Unisex
4      Unisex
...       ...
43994   Women
43995   Women
43996   Women
43997   Women
43998   Women

[43999 rows x 1 columns]

In [66]:
result=result.reset_index(drop=True)
result

       mid    MtypeName  id typeName
0        9      Apparel  31  Topwear
1        9      Apparel  31  Topwear
2        9      Apparel  31  Topwear
3        1  Accessories   2     Bags
4        1  Accessories   2     Bags
...    ...          ...  ..      ...
43994    9      Apparel  30    Dress
43995    9      Apparel  30    Dress
43996   10     Footwear  33    Shoes
43997   10     Footwear  33    Shoes
43998    9      Apparel  31  Topwear

[43999 rows x 4 columns]

In [67]:
result=pd.concat([gender,result],axis=1)

In [68]:
result=result.drop(columns=['mid', 'id'])
result

       gender    MtypeName typeName
0         Men      Apparel  Topwear
1         Men      Apparel  Topwear
2         Men      Apparel  Topwear
3      Unisex  Accessories     Bags
4      Unisex  Accessories     Bags
...       ...          ...      ...
43994   Women      Apparel    Dress
43995   Women      Apparel    Dress
43996   Women     Footwear    Shoes
43997   Women     Footwear    Shoes
43998   Women      Apparel  Topwear

[43999 rows x 3 columns]

In [69]:
result=result.rename(columns = {'gender': 'Main_Category', 'MtypeName':'Sub_Category' ,'typeName':'Sub_Sub_Category'}, inplace = False)
result

      Main_Category Sub_Category Sub_Sub_Category
0               Men      Apparel          Topwear
1               Men      Apparel          Topwear
2               Men      Apparel          Topwear
3            Unisex  Accessories             Bags
4            Unisex  Accessories             Bags
...             ...          ...              ...
43994         Women      Apparel            Dress
43995         Women      Apparel            Dress
43996         Women     Footwear            Shoes
43997         Women     Footwear            Shoes
43998         Women      Apparel          Topwear

[43999 rows x 3 columns]

In [70]:
AllData=pd.concat([AllData,result],axis=1)
AllData

,Unnamed: 0,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,variantName,myntraRating,catalogAddDate,brandName,ageGroup,gender,baseColour,colour1,colour2,fashionType,season,year,usage,vat,displayCategories,weight,navigationId,landingPageUrl,articleAttributes,crossLinks,brandUserProfile,codEnabled,styleImages,lookGoodAlbum,style360Images,masterCategory,subCategory,articleType,isEMIEnabled,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,colours,discountData,styleVideoAlbumList,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,Main_Category,Sub_Category,Sub_Sub_Category,typeName,Main_Category,Sub_Category,Sub_Sub_Category
0,data,1163,895.0,895.0,DEL,219,409962-480-895,NaN,Nike Sahara Team India Fanwear Round Neck Jersey,Roundneck Jersey,1,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2011.0,Sports,5.5,"Sports Wear,Sale",0,0,Tshirts/Nike/Nike-Sahara-Team-India-Fanwear-Ro...,"{'Fit': 'Regular Fit', 'Fabric 3': 'NA', 'Body...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 8289, 'name': 'Size', 'value': 'XXS', ...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel,Men,Apparel,Topwear
1,data,1164,1595.0,1595.0,P,289,Nike Sahara Jersey,eoss:PREMIUM,Nike Men Blue T20 Indian Cricket Jersey,Collared Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Winter,2015.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Men-Blue-T20-Indian-Cricket-...,"{'Pattern': 'Solid', 'Body or Garment Size': '...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 2995, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel,Men,Apparel,Topwear
2,data,1165,2495.0,2495.0,D,219,Nike Jersey,NaN,Nike Mean Team India Cricket Jersey,Authentic Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2013.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Mean-Team-India-Cricket-Jers...,"{'Sleeve Styling': 'Raglan Sleeves', 'Multipac...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 3001, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel,Men,Apparel,Topwear
3,data,1525,1299.0,1299.0,P,597,6818802,NaN,Puma Deck Navy Blue Backpack,Deck Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Navy Blue,NaN,NaN,Fashion,Fall,2010.0,Casual,14.5,Accessories,0,0,Backpacks/Puma/Puma-Deck-Navy-Blue-Backpack/15...,"{'Occasion': 'Casual', 'Size': 'Medium', 'Lapt...","[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9676, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'1697': {'dre_landing_page_url': '...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags,Accessories,Unisex,Accessories,Bags
4,data,1526,1299.0,1299.0,P,294,6814201,NaN,Puma Big Cat Backpack Black,Big Cat Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Black,NaN,NaN,Fashion,Fall,2010.0,Sports,14.5,Accessories,0,0,Backpacks/Puma/Puma-Big-Cat-Backpack-Black/152...,{},"[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9678, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'13698': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags,Accessories,Unisex,Accessories,Bags
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43994,data,59995,4300.0,2150.0,P,379,SR370-Black,NaN,Avirate Black Dress,Women Dress,0,1460961620,Avirate,Adults-Women,Women,Black,NaN,NaN,Fashion,Fall,2012.0,Party,5.5,NaN,0,1080,Dresses/Avirate/Avirate-Black-Dress/59995/buy,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397176, 'name': 'Size', 'value': 'US4'...",NaN,"{'discountType': 1, 'discountAmount': 2150, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress,Apparel,Women,Apparel,Dress
43995,data,59996,3400.0,1700.0,P,379,SR394-PURPLE MIX-59996,NaN,Avirate Black & Purple Dress,Dress,0,1478255240,Avirate,Adults-Women,Women,Purple,NaN,NaN,Fashion,Summer,2014.0,Casual,5.5,Casual Wear,0,1259,Dresses/Avirate/Avirate-Black--Purple-Dress/59...,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397165, 'name': 'Size', 'value': 'US14...",NaN,"{'discountType': 1, 'discountAmount': 1700, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress,Apparel,Women,Apparel,Dress
43996,data,59998,1395.0,1395.0,P,445,9861EMT,NaN,Catwalk Women Multi Coloured Heels,catwalk sandal,0,1450936788,Catwalk,Adults-Women,Women,Multi,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Multi-Coloured-Hee...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220509, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes,Footwear,Women,Footwear,Shoes
43997,data,59999,1595.0,1595.0,P,445,9874BX,NaN,Catwalk Women Bronze Wedges,catwalk sandal,0,1447910988,Catwalk,Adults-Women,Women,Bronze,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Bronze-Wedges/5999...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220514, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes,Footwear,Women,Footwear,Shoes
43998,data,60000,499.0,499.0,DEL,364,AJ0056 Blue,NaN,Alma Women Blue Kurta,Alma Orange Kurta,1,1444139425,Alma,Adults-Women,Women,Blue,NaN,NaN,Fashion,Fall,2012.0,Ethnic,5.5,Ethnic Wear,0,607,Kurtas/Alma/Alma-Women-Blue-Kurta/60000/buy,{'Body or Garment Size': 'Garment Measurements...,"[{'key': 'More Kurtas by Alma', 'value': 'kurt...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 83, 'typeName': 'Kurtas', 'active': Tru...",False,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 83, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220518, 'name': 'Size', 'value': 'S', ...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Apparel,Topwear,Apparel,Women,Apparel,Topwear

In [71]:
AllData.to_csv("Semi_proccessed_Complete_Jdatav3.csv",index=False)

In [72]:
result

      Main_Category Sub_Category Sub_Sub_Category
0               Men      Apparel          Topwear
1               Men      Apparel          Topwear
2               Men      Apparel          Topwear
3            Unisex  Accessories             Bags
4            Unisex  Accessories             Bags
...             ...          ...              ...
43994         Women      Apparel            Dress
43995         Women      Apparel            Dress
43996         Women     Footwear            Shoes
43997         Women     Footwear            Shoes
43998         Women      Apparel          Topwear

[43999 rows x 3 columns]

In [73]:
for i in range(len(result)):
    result.at[i,'Sub_Category']=result.at[i, 'Main_Category']+" "+result.at[i, 'Sub_Category']
    result.at[i,'Sub_Sub_Category']=result.at[i,'Sub_Category']+" "+result.at[i,'Sub_Sub_Category']
result

      Main_Category        Sub_Category         Sub_Sub_Category
0               Men         Men Apparel      Men Apparel Topwear
1               Men         Men Apparel      Men Apparel Topwear
2               Men         Men Apparel      Men Apparel Topwear
3            Unisex  Unisex Accessories  Unisex Accessories Bags
4            Unisex  Unisex Accessories  Unisex Accessories Bags
...             ...                 ...                      ...
43994         Women       Women Apparel      Women Apparel Dress
43995         Women       Women Apparel      Women Apparel Dress
43996         Women      Women Footwear     Women Footwear Shoes
43997         Women      Women Footwear     Women Footwear Shoes
43998         Women       Women Apparel    Women Apparel Topwear

[43999 rows x 3 columns]

In [74]:
len(result['Sub_Category'].unique())

19

In [75]:
UNIQ_Genders=result['Main_Category'].unique()
UNIQ_Genders

array(['Men', 'Unisex', 'Women', 'Girls', 'Boys'], dtype=object)

In [76]:
ID=[]
parent_id=[]
level=[]

for i in range(len(UNIQ_Genders)):
    ID.append(i)
    parent_id.append("")
    level.append("")

In [77]:
order_level=level
commision_rate=level
banner=level
icon=level
featured=level
top=level
digital=level
slug=level
meta_title=level
meta_description=level
created_at=level
updated_at=level

In [78]:

index_track=len(UNIQ_Genders)

In [79]:
index_track

5

In [80]:
CategoryG={'id':ID,'parent_id':parent_id,'level':level,'name':UNIQ_Genders,'order_level':order_level,'commision_rate':commision_rate,'banner':banner,'icon':icon,'featured':featured,'top':top,'digital':digital,'slug':slug,'meta_title':meta_title,'meta_description':meta_description,'created_at':created_at,'updated_at':updated_at}
CategoryG=pd.DataFrame(CategoryG)
CategoryG

,id,parent_id,level,name,order_level,commision_rate,banner,icon,featured,top,digital,slug,meta_title,meta_description,created_at,updated_at
0,0,,,Men,,,,,,,,,,,,
1,1,,,Unisex,,,,,,,,,,,,
2,2,,,Women,,,,,,,,,,,,
3,3,,,Girls,,,,,,,,,,,,
4,4,,,Boys,,,,,,,,,,,,

In [81]:
SUB=result.loc[result['Main_Category'] == UNIQ_Genders[0]]
SUB

      Main_Category       Sub_Category             Sub_Sub_Category
0               Men        Men Apparel          Men Apparel Topwear
1               Men        Men Apparel          Men Apparel Topwear
2               Men        Men Apparel          Men Apparel Topwear
5               Men        Men Apparel          Men Apparel Topwear
6               Men        Men Apparel          Men Apparel Topwear
...             ...                ...                          ...
43951           Men       Men Footwear           Men Footwear Shoes
43952           Men       Men Footwear           Men Footwear Shoes
43953           Men       Men Footwear           Men Footwear Shoes
43960           Men  Men Personal Care  Men Personal Care Fragrance
43961           Men  Men Personal Care  Men Personal Care Fragrance

[22068 rows x 3 columns]

In [82]:
SUB=SUB['Sub_Category'].unique()
SUB

array(['Men Apparel', 'Men Footwear', 'Men Accessories',
       'Men Personal Care'], dtype=object)

In [83]:
for i in range (len(UNIQ_Genders)):
    SUB=result.loc[result['Main_Category'] == UNIQ_Genders[i]]
    SUB=SUB['Sub_Category'].unique()
    ID=[]
    parent_id=[]
    level=[]
    for j in range (index_track,index_track+len(SUB)):
        ID.append(j)
        parent_id.append(i)
        level.append("")
        
    order_level=level
    commision_rate=level
    banner=level
    icon=level
    featured=level
    top=level
    digital=level
    slug=level
    meta_title=level
    meta_description=level
    created_at=level
    
    updated_at=level
    CategoryS={'id':ID,'parent_id':parent_id,'level':level,'name':SUB,'order_level':order_level,'commision_rate':commision_rate,'banner':banner,'icon':icon,'featured':featured,'top':top,'digital':digital,'slug':slug,'meta_title':meta_title,'meta_description':meta_description,'created_at':created_at,'updated_at':updated_at}
    CategoryS=pd.DataFrame(CategoryS)
    CategoryG=CategoryG.append(CategoryS)
    index_track=index_track+len(SUB)

CategoryG

,id,parent_id,level,name,order_level,commision_rate,banner,icon,featured,top,digital,slug,meta_title,meta_description,created_at,updated_at
0,0,,,Men,,,,,,,,,,,,
1,1,,,Unisex,,,,,,,,,,,,
2,2,,,Women,,,,,,,,,,,,
3,3,,,Girls,,,,,,,,,,,,
4,4,,,Boys,,,,,,,,,,,,
0,5,0,,Men Apparel,,,,,,,,,,,,
1,6,0,,Men Footwear,,,,,,,,,,,,
2,7,0,,Men Accessories,,,,,,,,,,,,
3,8,0,,Men Personal Care,,,,,,,,,,,,
0,9,1,,Unisex Accessories,,,,,,,,,,,,
1,10,1,,Unisex Sporting Goods,,,,,,,,,,,,
2,11,1,,Unisex Apparel,,,,,,,,,,,,
3,12,1,,Unisex Footwear,,,,,,,,,,,,
4,13,1,,Unisex Personal Care,,,,,,,,,,,,
0,14,2,,Women Apparel,,,,,,,,,,,,
1,15,2,,Women Accessories,,,,,,,,,,,,
2,16,2,,Women Footwear,,,,,,,,,,,,
3,17,2,,Women Personal Care,,,,,,,,,,,,
0,18,3,,Girls Accessories,,,,,,,,,,,,
1,19,3,,Girls Apparel,,,,,,,,,,,,
2,20,3,,Girls Footwear,,,,,,,,,,,,
0,21,4,,Boys Apparel,,,,,,,,,,,,
1,22,4,,Boys Footwear,,,,,,,,,,,,
2,23,4,,Boys Accessories,,,,,,,,,,,,

In [84]:
CategoryG

,id,parent_id,level,name,order_level,commision_rate,banner,icon,featured,top,digital,slug,meta_title,meta_description,created_at,updated_at
0,0,,,Men,,,,,,,,,,,,
1,1,,,Unisex,,,,,,,,,,,,
2,2,,,Women,,,,,,,,,,,,
3,3,,,Girls,,,,,,,,,,,,
4,4,,,Boys,,,,,,,,,,,,
0,5,0,,Men Apparel,,,,,,,,,,,,
1,6,0,,Men Footwear,,,,,,,,,,,,
2,7,0,,Men Accessories,,,,,,,,,,,,
3,8,0,,Men Personal Care,,,,,,,,,,,,
0,9,1,,Unisex Accessories,,,,,,,,,,,,
1,10,1,,Unisex Sporting Goods,,,,,,,,,,,,
2,11,1,,Unisex Apparel,,,,,,,,,,,,
3,12,1,,Unisex Footwear,,,,,,,,,,,,
4,13,1,,Unisex Personal Care,,,,,,,,,,,,
0,14,2,,Women Apparel,,,,,,,,,,,,
1,15,2,,Women Accessories,,,,,,,,,,,,
2,16,2,,Women Footwear,,,,,,,,,,,,
3,17,2,,Women Personal Care,,,,,,,,,,,,
0,18,3,,Girls Accessories,,,,,,,,,,,,
1,19,3,,Girls Apparel,,,,,,,,,,,,
2,20,3,,Girls Footwear,,,,,,,,,,,,
0,21,4,,Boys Apparel,,,,,,,,,,,,
1,22,4,,Boys Footwear,,,,,,,,,,,,
2,23,4,,Boys Accessories,,,,,,,,,,,,

In [85]:
sub_cat_id=[5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]

In [86]:
y=0
for i in range (len(UNIQ_Genders)):
    SUB=result.loc[result['Main_Category'] == UNIQ_Genders[i]]
    SUB=SUB['Sub_Category'].unique()
    for x in range (len(SUB)):
        sSUB=result.loc[result['Sub_Category'] == SUB[x]]
        sSUB=sSUB['Sub_Sub_Category'].unique()
        ID=[]
        pid=sub_cat_id[y]
        parent_id=[]
        level=[]
        y=y+1
        for j in range (index_track,index_track+len(sSUB)):
            ID.append(j)
            parent_id.append(pid)
            level.append("")
        
        order_level=level
        commision_rate=level
        banner=level
        icon=level
        featured=level
        top=level
        digital=level
        slug=level
        meta_title=level
        meta_description=level
        created_at=level
    
        updated_at=level
        CategoryS={'id':ID,'parent_id':parent_id,'level':level,'name':sSUB,'order_level':order_level,'commision_rate':commision_rate,'banner':banner,'icon':icon,'featured':featured,'top':top,'digital':digital,'slug':slug,'meta_title':meta_title,'meta_description':meta_description,'created_at':created_at,'updated_at':updated_at}
        CategoryS=pd.DataFrame(CategoryS)
        CategoryG=CategoryG.append(CategoryS)
        index_track=index_track+len(sSUB)

In [87]:
CategoryG

,id,parent_id,level,name,order_level,commision_rate,banner,icon,featured,top,digital,slug,meta_title,meta_description,created_at,updated_at
0,0,,,Men,,,,,,,,,,,,
1,1,,,Unisex,,,,,,,,,,,,
2,2,,,Women,,,,,,,,,,,,
3,3,,,Girls,,,,,,,,,,,,
4,4,,,Boys,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,135,23,,Boys Accessories Watches,,,,,,,,,,,,
1,136,23,,Boys Accessories Socks,,,,,,,,,,,,
2,137,23,,Boys Accessories Gloves,,,,,,,,,,,,
3,138,23,,Boys Accessories Headwear,,,,,,,,,,,,
4,139,23,,Boys Accessories Eyewear,,,,,,,,,,,,

In [88]:
CategoryG['parent_id'].tolist()

['',
 '',
 '',
 '',
 '',
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 11,
 11,
 11,
 12,
 12,
 12,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23]

In [89]:
AllData

,Unnamed: 0,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,variantName,myntraRating,catalogAddDate,brandName,ageGroup,gender,baseColour,colour1,colour2,fashionType,season,year,usage,vat,displayCategories,weight,navigationId,landingPageUrl,articleAttributes,crossLinks,brandUserProfile,codEnabled,styleImages,lookGoodAlbum,style360Images,masterCategory,subCategory,articleType,isEMIEnabled,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,colours,discountData,styleVideoAlbumList,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,Main_Category,Sub_Category,Sub_Sub_Category,typeName,Main_Category,Sub_Category,Sub_Sub_Category
0,data,1163,895.0,895.0,DEL,219,409962-480-895,NaN,Nike Sahara Team India Fanwear Round Neck Jersey,Roundneck Jersey,1,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2011.0,Sports,5.5,"Sports Wear,Sale",0,0,Tshirts/Nike/Nike-Sahara-Team-India-Fanwear-Ro...,"{'Fit': 'Regular Fit', 'Fabric 3': 'NA', 'Body...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 8289, 'name': 'Size', 'value': 'XXS', ...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel,Men,Apparel,Topwear
1,data,1164,1595.0,1595.0,P,289,Nike Sahara Jersey,eoss:PREMIUM,Nike Men Blue T20 Indian Cricket Jersey,Collared Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Winter,2015.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Men-Blue-T20-Indian-Cricket-...,"{'Pattern': 'Solid', 'Body or Garment Size': '...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 2995, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel,Men,Apparel,Topwear
2,data,1165,2495.0,2495.0,D,219,Nike Jersey,NaN,Nike Mean Team India Cricket Jersey,Authentic Jersey,0,1461658417,Nike,Adults-Men,Men,Blue,NaN,NaN,Fashion,Summer,2013.0,Sports,5.5,Sports Wear,0,0,Tshirts/Nike/Nike-Mean-Team-India-Cricket-Jers...,"{'Sleeve Styling': 'Raglan Sleeves', 'Multipac...","[{'key': 'More Tshirts by Nike', 'value': 'tsh...",{'uidx': '6d415071.a389.472b.b5b6.c93d864afbea...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 90, 'typeName': 'Tshirts', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 3001, 'name': 'Size', 'value': 'XS', '...",NaN,NaN,NaN,NaN,NaN,NaN,Men,Apparel,Topwear,Apparel,Men,Apparel,Topwear
3,data,1525,1299.0,1299.0,P,597,6818802,NaN,Puma Deck Navy Blue Backpack,Deck Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Navy Blue,NaN,NaN,Fashion,Fall,2010.0,Casual,14.5,Accessories,0,0,Backpacks/Puma/Puma-Deck-Navy-Blue-Backpack/15...,"{'Occasion': 'Casual', 'Size': 'Medium', 'Lapt...","[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9676, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'1697': {'dre_landing_page_url': '...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags,Accessories,Unisex,Accessories,Bags
4,data,1526,1299.0,1299.0,P,294,6814201,NaN,Puma Big Cat Backpack Black,Big Cat Backpack,0,1472135919,Puma,Adults-Unisex,Unisex,Black,NaN,NaN,Fashion,Fall,2010.0,Sports,14.5,Accessories,0,0,Backpacks/Puma/Puma-Big-Cat-Backpack-Black/152...,{},"[{'key': 'More Backpacks by Puma', 'value': 'b...",{'uidx': '12c1ae88.a2e0.4ada.8a85.2259c8f751fd...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 1, 'typeName': 'Accessories', 'active':...","{'id': 2, 'typeName': 'Bags', 'active': True, ...","{'id': 43, 'typeName': 'Backpacks', 'active': ...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 43, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 9678, 'name': 'Size', 'value': 'ONESIZ...",{'colors': {'13698': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN,NaN,Unisex,Accessories,Bags,Accessories,Unisex,Accessories,Bags
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43994,data,59995,4300.0,2150.0,P,379,SR370-Black,NaN,Avirate Black Dress,Women Dress,0,1460961620,Avirate,Adults-Women,Women,Black,NaN,NaN,Fashion,Fall,2012.0,Party,5.5,NaN,0,1080,Dresses/Avirate/Avirate-Black-Dress/59995/buy,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397176, 'name': 'Size', 'value': 'US4'...",NaN,"{'discountType': 1, 'discountAmount': 2150, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress,Apparel,Women,Apparel,Dress
43995,data,59996,3400.0,1700.0,P,379,SR394-PURPLE MIX-59996,NaN,Avirate Black & Purple Dress,Dress,0,1478255240,Avirate,Adults-Women,Women,Purple,NaN,NaN,Fashion,Summer,2014.0,Casual,5.5,Casual Wear,0,1259,Dresses/Avirate/Avirate-Black--Purple-Dress/59...,"{'Knit or Woven': 'Woven', 'Pattern': 'Solid',...","[{'key': 'More Dresses by Avirate', 'value': '...",{'uidx': 'f5f084d1.8939.410b.ad4f.27f7af6c9f3b...,True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 30, 'typeName': 'Dress', 'active': True...","{'id': 79, 'typeName': 'Dresses', 'active': Tr...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 79, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 397165, 'name': 'Size', 'value': 'US14...",NaN,"{'discountType': 1, 'discountAmount': 1700, 'd...",NaN,NaN,NaN,NaN,Women,Apparel,Dress,Apparel,Women,Apparel,Dress
43996,data,59998,1395.0,1395.0,P,445,9861EMT,NaN,Catwalk Women Multi Coloured Heels,catwalk sandal,0,1450936788,Catwalk,Adults-Women,Women,Multi,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Multi-Coloured-Hee...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220509, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes,Footwear,Women,Footwear,Shoes
43997,data,59999,1595.0,1595.0,P,445,9874BX,NaN,Catwalk Women Bronze Wedges,catwalk sandal,0,1447910988,Catwalk,Adults-Women,Women,Bronze,NaN,NaN,Fashion,Winter,2015.0,Casual,14.5,Footwear,0,0,Heels/Catwalk/Catwalk-Women-Bronze-Wedges/5999...,"{'Type': 'Sandals', 'Toe Shape': 'Open Toe', '...","[{'key': 'More Heels by Catwalk', 'value': 'he...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 10, 'typeName': 'Footwear', 'active': T...","{'id': 33, 'typeName': 'Shoes', 'active': True...","{'id': 279, 'typeName': 'Heels', 'active': Tru...",True,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 279, 'core': {'order': '0', 'display': ...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220514, 'name': 'Size', 'value': 'UK4'...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Footwear,Shoes,Footwear,Women,Footwear,Shoes
43998,data,60000,499.0,499.0,DEL,364,AJ0056 Blue,NaN,Alma Women Blue Kurta,Alma Orange Kurta,1,1444139425,Alma,Adults-Women,Women,Blue,NaN,NaN,Fashion,Fall,2012.0,Ethnic,5.5,Ethnic Wear,0,607,Kurtas/Alma/Alma-Women-Blue-Kurta/60000/buy,{'Body or Garment Size': 'Garment Measurements...,"[{'key': 'More Kurtas by Alma', 'value': 'kurt...",{},True,{'default': {'imageURL': 'http://assets.myntas...,{},{},"{'id': 9, 'typeName': 'Apparel', 'active': Tru...","{'id': 31, 'typeName': 'Topwear', 'active': Tr...","{'id': 83, 'typeName': 'Kurtas', 'active': Tru...",False,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 83, 'core': {'order': '0', 'display': '...",{'materials_care_desc': {'descriptorType': 'ma...,"[{'id': 220518, 'name': 'Size', 'value': 'S', ...",NaN,NaN,NaN,NaN,NaN,NaN,Women,Apparel,Topwear,Apparel,Women,Apparel,Topwear

In [121]:
CategoryG.to_csv("Fady Azmy categories.csv",index=False)

In [90]:
AllData=AllData.drop(columns='typeName')

In [91]:
AllData.to_csv('Semi_proccessed_Complete_Jdatav3.csv',index=False)

In [91]:
Trans_Category=CategoryG
Trans_Category=Trans_Category.reset_index(drop=True)
Trans_Category

,id,parent_id,level,name,order_level,commision_rate,banner,icon,featured,top,digital,slug,meta_title,meta_description,created_at,updated_at
0,0,,,Men,,,,,,,,,,,,
1,1,,,Unisex,,,,,,,,,,,,
2,2,,,Women,,,,,,,,,,,,
3,3,,,Girls,,,,,,,,,,,,
4,4,,,Boys,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,135,23,,Boys Accessories Watches,,,,,,,,,,,,
136,136,23,,Boys Accessories Socks,,,,,,,,,,,,
137,137,23,,Boys Accessories Gloves,,,,,,,,,,,,
138,138,23,,Boys Accessories Headwear,,,,,,,,,,,,
139,139,23,,Boys Accessories Eyewear,,,,,,,,,,,,

In [92]:
from deep_translator import GoogleTranslator
GoogleTranslator(source='en', target='ar').translate(Trans_Category.at[0,'name'])

'رجال'

In [93]:
for i in range(len(Trans_Category)):
    Trans_Category.at[i,'name']=GoogleTranslator(source='en', target='ar').translate(Trans_Category.at[i,'name'])
Trans_Category

,id,parent_id,level,name,order_level,commision_rate,banner,icon,featured,top,digital,slug,meta_title,meta_description,created_at,updated_at
0,0,,,رجال,,,,,,,,,,,,
1,1,,,للجنسين,,,,,,,,,,,,
2,2,,,امرأة,,,,,,,,,,,,
3,3,,,الفتيات,,,,,,,,,,,,
4,4,,,أولاد,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,135,23,,ساعات اكسسوارات الأولاد,,,,,,,,,,,,
136,136,23,,جوارب اكسسوارات ولادي,,,,,,,,,,,,
137,137,23,,قفازات اكسسوارات ولادي,,,,,,,,,,,,
138,138,23,,اكسسوارات الأولاد أغطية الرأس,,,,,,,,,,,,
139,139,23,,إكسسوارات النظارات للأولاد,,,,,,,,,,,,

In [125]:
Trans_Category.at[0,'name']

0                                       Men
0                               Men Apparel
0                        Unisex Accessories
0                             Women Apparel
0                         Girls Accessories
0                              Boys Apparel
0                       Men Apparel Topwear
0                        Men Footwear Shoes
0                  Men Accessories Headwear
0               Men Personal Care Fragrance
0                   Unisex Accessories Bags
0    Unisex Sporting Goods Sports Equipment
0                 Unisex Apparel Bottomwear
0                     Unisex Footwear Shoes
0            Unisex Personal Care Fragrance
0                     Women Apparel Topwear
0                    Women Accessories Bags
0                      Women Footwear Shoes
0             Women Personal Care Fragrance
0                    Girls Accessories Bags
0                       Girls Apparel Dress
0                     Girls Footwear Sandal
0                   Boys Apparel Bottomwear
0                       Boys Footwear Shoes
0                  Boys Accessories Watches
Name: name, dtype: object

In [131]:
Trans_Category.to_csv("Fady Azmy Categories_Translations.csv",index=False,encoding='utf-8-sig')

In [98]:
CategoryG=CategoryG.reset_index(drop=True)

In [99]:
CategoryG

,id,parent_id,level,name,order_level,commision_rate,banner,icon,featured,top,digital,slug,meta_title,meta_description,created_at,updated_at
0,0,,,Men,,,,,,,,,,,,
1,1,,,Unisex,,,,,,,,,,,,
2,2,,,Women,,,,,,,,,,,,
3,3,,,Girls,,,,,,,,,,,,
4,4,,,Boys,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,135,23,,Boys Accessories Watches,,,,,,,,,,,,
136,136,23,,Boys Accessories Socks,,,,,,,,,,,,
137,137,23,,Boys Accessories Gloves,,,,,,,,,,,,
138,138,23,,Boys Accessories Headwear,,,,,,,,,,,,
139,139,23,,Boys Accessories Eyewear,,,,,,,,,,,,

In [102]:
CategoryG.at[0,'banner']

''

In [104]:
Cnames=CategoryG['name'].values.tolist()
Cnames

['Men',
 'Unisex',
 'Women',
 'Girls',
 'Boys',
 'Men Apparel',
 'Men Footwear',
 'Men Accessories',
 'Men Personal Care',
 'Unisex Accessories',
 'Unisex Sporting Goods',
 'Unisex Apparel',
 'Unisex Footwear',
 'Unisex Personal Care',
 'Women Apparel',
 'Women Accessories',
 'Women Footwear',
 'Women Personal Care',
 'Girls Accessories',
 'Girls Apparel',
 'Girls Footwear',
 'Boys Apparel',
 'Boys Footwear',
 'Boys Accessories',
 'Men Apparel Topwear',
 'Men Apparel Bottomwear',
 'Men Apparel Innerwear',
 'Men Apparel Loungewear and Nightwear',
 'Men Footwear Shoes',
 'Men Footwear Sandal',
 'Men Footwear Flip Flops',
 'Men Accessories Headwear',
 'Men Accessories Water Bottle',
 'Men Accessories Bags',
 'Men Accessories Socks',
 'Men Accessories Accessories',
 'Men Accessories Belts',
 'Men Accessories Watches',
 'Men Accessories Wallets',
 'Men Accessories Eyewear',
 'Men Accessories Ties',
 'Men Accessories Stoles',
 'Men Accessories Scarves',
 'Men Accessories Mufflers',
 'Men Accessories Cufflinks',
 'Men Accessories Gloves',
 'Men Accessories Perfumes',
 'Men Accessories Jewellery',
 'Men Personal Care Fragrance',
 'Men Personal Care Bath and Body',
 'Men Personal Care Perfumes',
 'Men Personal Care Skin Care',
 'Unisex Accessories Bags',
 'Unisex Accessories Headwear',
 'Unisex Accessories Water Bottle',
 'Unisex Accessories Accessories',
 'Unisex Accessories Watches',
 'Unisex Accessories Socks',
 'Unisex Accessories Shoe Accessories',
 'Unisex Accessories Eyewear',
 'Unisex Accessories Sports Accessories',
 'Unisex Accessories Belts',
 'Unisex Accessories Mufflers',
 'Unisex Accessories Scarves',
 'Unisex Accessories Wallets',
 'Unisex Accessories Gloves',
 'Unisex Sporting Goods Sports Equipment',
 'Unisex Sporting Goods Wristbands',
 'Unisex Apparel Bottomwear',
 'Unisex Apparel Topwear',
 'Unisex Apparel Apparel Set',
 'Unisex Footwear Shoes',
 'Unisex Footwear Flip Flops',
 'Unisex Footwear Sandal',
 'Unisex Personal Care Fragrance',
 'Unisex Personal Care Hair',
 'Unisex Personal Care Skin Care',
 'Women Apparel Topwear',
 'Women Apparel Bottomwear',
 'Women Apparel Apparel Set',
 'Women Apparel Dress',
 'Women Apparel Innerwear',
 'Women Apparel Loungewear and Nightwear',
 'Women Apparel Saree',
 'Women Accessories Bags',
 'Women Accessories Socks',
 'Women Accessories Headwear',
 'Women Accessories Watches',
 'Women Accessories Eyewear',
 'Women Accessories Scarves',
 'Women Accessories Belts',
 'Women Accessories Wallets',
 'Women Accessories Jewellery',
 'Women Accessories Umbrellas',
 'Women Accessories Accessories',
 'Women Accessories Mufflers',
 'Women Accessories Stoles',
 'Women Accessories Cufflinks',
 'Women Footwear Shoes',
 'Women Footwear Sandal',
 'Women Footwear Flip Flops',
 'Women Personal Care Fragrance',
 'Women Personal Care Perfumes',
 'Women Personal Care Eyes',
 'Women Personal Care Nails',
 'Women Personal Care Makeup',
 'Women Personal Care Lips',
 'Women Personal Care Skin Care',
 'Women Personal Care Skin',
 'Women Personal Care Beauty Accessories',
 'Women Personal Care Bath and Body',
 'Women Personal Care Hair',
 'Girls Accessories Bags',
 'Girls Accessories Watches',
 'Girls Accessories Jewellery',
 'Girls Accessories Gloves',
 'Girls Accessories Headwear',
 'Girls Accessories Eyewear',
 'Girls Apparel Dress',
 'Girls Apparel Topwear',
 'Girls Apparel Bottomwear',
 'Girls Apparel Apparel Set',
 'Girls Apparel Socks',
 'Girls Apparel Innerwear',
 'Girls Footwear Sandal',
 'Girls Footwear Shoes',
 'Girls Footwear Flip Flops',
 'Boys Apparel Bottomwear',
 'Boys Apparel Topwear',
 'Boys Apparel Apparel Set',
 'Boys Apparel Socks',
 'Boys Apparel Innerwear',
 'Boys Footwear Shoes',
 'Boys Footwear Flip Flops',
 'Boys Footwear Sandal',
 'Boys Accessories Watches',
 'Boys Accessories Socks',
 'Boys Accessories Gloves',
 'Boys Accessories Headwear',
 'Boys Accessories Eyewear']

In [105]:
scrapeKeywords=[]
for i in Cnames:
    scrapeKeywords.append(i.replace(" ","+"))
scrapeKeywords

['Men',
 'Unisex',
 'Women',
 'Girls',
 'Boys',
 'Men+Apparel',
 'Men+Footwear',
 'Men+Accessories',
 'Men+Personal+Care',
 'Unisex+Accessories',
 'Unisex+Sporting+Goods',
 'Unisex+Apparel',
 'Unisex+Footwear',
 'Unisex+Personal+Care',
 'Women+Apparel',
 'Women+Accessories',
 'Women+Footwear',
 'Women+Personal+Care',
 'Girls+Accessories',
 'Girls+Apparel',
 'Girls+Footwear',
 'Boys+Apparel',
 'Boys+Footwear',
 'Boys+Accessories',
 'Men+Apparel+Topwear',
 'Men+Apparel+Bottomwear',
 'Men+Apparel+Innerwear',
 'Men+Apparel+Loungewear+and+Nightwear',
 'Men+Footwear+Shoes',
 'Men+Footwear+Sandal',
 'Men+Footwear+Flip+Flops',
 'Men+Accessories+Headwear',
 'Men+Accessories+Water+Bottle',
 'Men+Accessories+Bags',
 'Men+Accessories+Socks',
 'Men+Accessories+Accessories',
 'Men+Accessories+Belts',
 'Men+Accessories+Watches',
 'Men+Accessories+Wallets',
 'Men+Accessories+Eyewear',
 'Men+Accessories+Ties',
 'Men+Accessories+Stoles',
 'Men+Accessories+Scarves',
 'Men+Accessories+Mufflers',
 'Men+Accessories+Cufflinks',
 'Men+Accessories+Gloves',
 'Men+Accessories+Perfumes',
 'Men+Accessories+Jewellery',
 'Men+Personal+Care+Fragrance',
 'Men+Personal+Care+Bath+and+Body',
 'Men+Personal+Care+Perfumes',
 'Men+Personal+Care+Skin+Care',
 'Unisex+Accessories+Bags',
 'Unisex+Accessories+Headwear',
 'Unisex+Accessories+Water+Bottle',
 'Unisex+Accessories+Accessories',
 'Unisex+Accessories+Watches',
 'Unisex+Accessories+Socks',
 'Unisex+Accessories+Shoe+Accessories',
 'Unisex+Accessories+Eyewear',
 'Unisex+Accessories+Sports+Accessories',
 'Unisex+Accessories+Belts',
 'Unisex+Accessories+Mufflers',
 'Unisex+Accessories+Scarves',
 'Unisex+Accessories+Wallets',
 'Unisex+Accessories+Gloves',
 'Unisex+Sporting+Goods+Sports+Equipment',
 'Unisex+Sporting+Goods+Wristbands',
 'Unisex+Apparel+Bottomwear',
 'Unisex+Apparel+Topwear',
 'Unisex+Apparel+Apparel+Set',
 'Unisex+Footwear+Shoes',
 'Unisex+Footwear+Flip+Flops',
 'Unisex+Footwear+Sandal',
 'Unisex+Personal+Care+Fragrance',
 'Unisex+Personal+Care+Hair',
 'Unisex+Personal+Care+Skin+Care',
 'Women+Apparel+Topwear',
 'Women+Apparel+Bottomwear',
 'Women+Apparel+Apparel+Set',
 'Women+Apparel+Dress',
 'Women+Apparel+Innerwear',
 'Women+Apparel+Loungewear+and+Nightwear',
 'Women+Apparel+Saree',
 'Women+Accessories+Bags',
 'Women+Accessories+Socks',
 'Women+Accessories+Headwear',
 'Women+Accessories+Watches',
 'Women+Accessories+Eyewear',
 'Women+Accessories+Scarves',
 'Women+Accessories+Belts',
 'Women+Accessories+Wallets',
 'Women+Accessories+Jewellery',
 'Women+Accessories+Umbrellas',
 'Women+Accessories+Accessories',
 'Women+Accessories+Mufflers',
 'Women+Accessories+Stoles',
 'Women+Accessories+Cufflinks',
 'Women+Footwear+Shoes',
 'Women+Footwear+Sandal',
 'Women+Footwear+Flip+Flops',
 'Women+Personal+Care+Fragrance',
 'Women+Personal+Care+Perfumes',
 'Women+Personal+Care+Eyes',
 'Women+Personal+Care+Nails',
 'Women+Personal+Care+Makeup',
 'Women+Personal+Care+Lips',
 'Women+Personal+Care+Skin+Care',
 'Women+Personal+Care+Skin',
 'Women+Personal+Care+Beauty+Accessories',
 'Women+Personal+Care+Bath+and+Body',
 'Women+Personal+Care+Hair',
 'Girls+Accessories+Bags',
 'Girls+Accessories+Watches',
 'Girls+Accessories+Jewellery',
 'Girls+Accessories+Gloves',
 'Girls+Accessories+Headwear',
 'Girls+Accessories+Eyewear',
 'Girls+Apparel+Dress',
 'Girls+Apparel+Topwear',
 'Girls+Apparel+Bottomwear',
 'Girls+Apparel+Apparel+Set',
 'Girls+Apparel+Socks',
 'Girls+Apparel+Innerwear',
 'Girls+Footwear+Sandal',
 'Girls+Footwear+Shoes',
 'Girls+Footwear+Flip+Flops',
 'Boys+Apparel+Bottomwear',
 'Boys+Apparel+Topwear',
 'Boys+Apparel+Apparel+Set',
 'Boys+Apparel+Socks',
 'Boys+Apparel+Innerwear',
 'Boys+Footwear+Shoes',
 'Boys+Footwear+Flip+Flops',
 'Boys+Footwear+Sandal',
 'Boys+Accessories+Watches',
 'Boys+Accessories+Socks',
 'Boys+Accessories+Gloves',
 'Boys+Accessories+Headwear',
 'Boys+Accessories+Eyewear']

In [106]:
import requests

In [107]:
from bs4 import BeautifulSoup

In [108]:
Cnames_logos=[]
for i in scrapeKeywords:
    response=requests.get("https://www.google.com/search?q="+i+"+icon+png&tbm=isch&ved=2ahUKEwjcpaKVvPL1AhWSiP0HHZXSBjwQ2-cCegQIABAA&oq=men+icon+png&gs_lcp=CgNpbWcQA1DpCFjuC2CYEWgAcAB4AIABd4gB0AOSAQMwLjSYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=HZ8DYpyjIZKR9u8PlaWb4AM&bih=1321&biw=2560")
    soup= BeautifulSoup(response.content,"html.parser")
    logoSRC=soup.select('img[src^="https://encrypted-tbn0.gstatic.com/images"]')[0]['src']
    Cnames_logos.append(logoSRC)
Cnames_logos

['https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF4soEgqNcKm-b2sEt0j4GWZ9nzN8UudTIp7HQhefBm2R19rjPRkXPyQ6J-w&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlZVMyjhL3ky0krhQw3likwP1zB7t15dLfViHpmcpE4YZZF16zMDxXUuvGXw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEN8YFugBt1hw7dpPFG7eDnMhh7g31ieob_G7_-ESQC6ZC5Oubc7p5o0DEaw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw4CctAzI2PEkF5wCKVpxXwcyGX7m9BeulcjbPcKP814QoKGi_HgVW7qLTQg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzekBozcAlQcobweEDKDYTUFSUY13gnQ1FcQvVMATh4O4GlZyelL6eZ_0sZw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVs9H8HUBohKlT8YWOCbiQzOqtTMu8X5Zx1eGaKT7wL0geeJWBkI4g2sYaJ8g&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-qqNyN-9vX4VRU4H-iYLPdwapdo6tkbCCjhM9yXO-gBFWW8wmxFswVt1rRg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThy0naD_FWVJXB_TeuRH0LeX6OLlOwrEO2YwnnMiqwtDGBPur70but9Q8Hhw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxqzqYaXHJT_twTXr8m4RB6ZdP6XiKJwq2QyhNdqI0eV1SpS5yKn3HzNu8QhA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf2i1hRcw6vSxAaaJ_a31WMUHAjlna6MYzWYK_SiJ5NVjldddL_NY0zjQJig&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7tqeBXExKuvyS9C7nrJPQ2AW2Hb4Z0PHDxGebexRymb98sAlUmEgzdJGwRQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThmZhySKTLEkVyZABOV_yf2gf_QcFVAXD2rnaLxKS-fDe6fHAx6r2-XV0NlRk&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn1X2mZSHFFAWRMWC0KHHDDe-n95a8ZSp8DMnI3knX7ShSVtq-je3XF4q2JQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkutJTHnpjvgOKOqMKnN-o_8Cp7kZaOLJ9dLsk-Y_GSJ1MZjfYh26nTw5Zwg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkK6PnmOy0K_v9JI87Ef2oLy5v-J_0vzYGocWAaVyY69ie2DuTxafs8Dmf610&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzr_UjuIcTbhYNGAugbXiegdk2qiaqaGBdTJcRIlEarGz-HUHQwvy8bKypn8k&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTRUSTVVz3r7X5EqhsoCihUvntYZDnCqWh3Hrgk8NYAUnQ2G1e6PRNzJNr_JY&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPl-rSqZVJ3KVc3psLXase8a_H0KVrIUDZtbVazTxWYUL_srEHGJsxiWcgrJo&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdPJIp09GM-sNM0eoOS-WLsaxrmBvbINvsoCNtyk4YJ8-eaBIlFFpARv8-4Q&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNrP0vMba8HFdCtCUYLK6wriCIz1eIF2RJ_hOKODJq1wsP_qBjNICy1x0K0w&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcQOtw8EF9oEG5l4r6cP2_7TEV_qq8aEVRAzhIwv0d0IgPKTl6NsfocDhVlQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuQ7JVQQMsG3mReJ2WqjtmoOuRDWkTPd8tPos7v3AMti4VliAV5iBd9uYhUbg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvR8iJCJR845XxzFPWSbe4_epiDhJJWGXWwu-lQNnAOwcTo_z7g4kNdp8ThOw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwXjo_iGyq1DVyNZFVVg81OsuQgckMQd7_sj-WO6ySYVd61WiZjCwgXKtRIUY&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUVJMLNXIJ8s5N7RucbxblQfrZQOSxeOyVyDT5T-jK-NYkMGrtAWMx_U4P6TU&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxcbMzuneMazA8RRcfMuQF5rSCd-pE5TKX6Q8pGHaQVGRD1eFYcodoHWt5QQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdsmK_Kit5NaHYgjjC3FL09z6wRzhvv0gETyYJyVGjbq7iAhzgHuxcBuqHj3g&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMF7dEpTHzhq1YaeH9S6W0305WbtXxW6R8mglkWFBD5_mLbXvv40b8l_Jv7g&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-VCI4YFhWUEHXDaA79WR6AZDg7cTMY5rHCIU_NsINHO5blhaj3BjhM6ZQwv8&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsTTy7eJO5hs6UufJGAsCo9xoZV2bd3eY32I69zvVSvStu1C6e6i1WqPnf0g&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK6xKf137pRDtMp_9lFNibBhQVLYfJkn95HogEunrMiSNLvEHqazva8ViffgM&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGvZlNeY4YQqnuXcYSYwBsqxIAQayGElCVaeZOh7ovs1gJSIs-b0zs0ty0ARI&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzSS0aHu0VNpR0whh2jtS8O0m8Finpc5ouVhWMvMoR8fJgdIBCpfv1cQwDZfE&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJkzRWxGvY21UasVKGQwzAvdkmFgXAZCNSQ7wUrZoBpo3L4mhBu6F0lAie8LA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZH19r_UZKk3mJ7UiZKBfokGVG-NIBPX--BMsjTxCi2oIrru9fm4Kv3ayQB3s&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMm8jgHlPKWEoC_6CgkVzDlqMUKkwQPixoaLx0h9SRCllKgjJi7dgyjrUJ1w&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVocTgk50tNMqXIyniv1mKivLTm6pje1__bon2m7NJ1j-2wf5fUt7-1IHAQw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvDGJ1cyhXhfq2kuf8bq-000Di7GBIe5YgFydkOkWm4t0njcl-dcdqRbu6wFs&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_Tnkm3FxgVpaE93uUxtnSE3llNhd9P71PKC-vBFVDYhXvq_tq_1xELpGhQUA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaCtAXdIlhaitJQJJB71PsvaklsvvS5D5YD4YZKChmftNR38LjyKYDVGaOpfY&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfXNZMWZK7A-QmpPIVOKc7XsPK3KZz1Q_W9JmIoRq8XUb14j1zAkP6b-s4iZg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOyDKr5928EWP-caubS4iKD3tzrdtu5xnJvPVYxEgwz2v4Iy7YvqwWzPXvsuw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHB58gE945s-7T5gk09iThqsi-7UVJWxj0vVvdOgg557Cd7fzqP1XPSb34YQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEe8UjjM7ibYvEKQjYS_ITfXgWezvaRNwsu39iQTbLR9f3Iam3x-rWZzJ7ag&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlvv53jXDPqNdll7NzL6wwj6zGaBO156hv14j1f13KKAFdCX3QmXaUbauk7g&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFeeWntBg6_xPLVJXsEy_xLZgRnPCIS2OPjT2IlK-3DbmTQPO7RtgevFDH4A&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY5rNAdObiZkf11lirlaFCYVVegoe17tSzTWd7bXDs8vrhroyZ8kDGT3lzkA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlvv53jXDPqNdll7NzL6wwj6zGaBO156hv14j1f13KKAFdCX3QmXaUbauk7g&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSezTK46JHg7ORMu-tmSKo0BqheyTN9Q_nUlPmYYnZ7Qf9Ipatusnf5SSSypA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxqzqYaXHJT_twTXr8m4RB6ZdP6XiKJwq2QyhNdqI0eV1SpS5yKn3HzNu8QhA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSezTK46JHg7ORMu-tmSKo0BqheyTN9Q_nUlPmYYnZ7Qf9Ipatusnf5SSSypA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxqzqYaXHJT_twTXr8m4RB6ZdP6XiKJwq2QyhNdqI0eV1SpS5yKn3HzNu8QhA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7TLKPcXUUofjkltXGXHKxbHCNCXqJDhKMVYWkLmSsFjhmfYJGM98VsoSpcA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAPXR05iRXUWJaxlhsqLDp-NmHG_BnXJqbGv3KK50r32yMk2nGTvH0b91vAw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0unm7-VR8RRUTaoL5FKOxJv_ysKISdr0DHHCaI41R7Iu0FpjJrH0xtOkt58A&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf2i1hRcw6vSxAaaJ_a31WMUHAjlna6MYzWYK_SiJ5NVjldddL_NY0zjQJig&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTUsxQn2qldtRFwfwTJbBeUh1pHuuvT3ehjqdbWlCgQrezQmPywUdxkzbAKMU&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSihHDy9C8uJH6cQfUPHVwcOIKZEjbT524nM17qg6b88Y_tSA_DZQiuVwFN_Q&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC11uD97u4ceTKaDSCo8D4ZU60ldyCFaI-9p-OqYl0GUbRwNWS88u2xx2yhps&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS0dL8thetDCnzfG6IQbRxC1lRlM2GgXsRAJJzBR3IE9Y73TnyGU55dVGTIw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6Pym_HL4Q_Xx9pTp6su0IRgjneAVA0RyZaRf4yi7TjCt-77lgxmZl2OUDlIw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlZABKYTZFxMzBbQEzCKe4KB3SJsigvR1afpk2KbpCMdJcllRZI7PvLq3YnjM&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5m9ymwCZf5xI9wkol3kCXzHeubkmEOzKaNclpmJSVOGOowlyF0g86ZJL_Fdg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuKLrLa55U4UdigJcKSik7zbKVqzq0jPVMfia2bLdLwoyASrejQsXeljP0I5o&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV9zfPig8YgWDJIQ3QAitFymyhGu5UEfacsxq9IhvWNMbX-8DqBZRpEilHAQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwOlIiLZF5yPf1h4zaCKV483dFw21vBHwFZ6ElLLP7J1AMSA6mMfB5xBaR9ZM&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR30CrlMAg6coLMaB6hYiHM6LOlzxaMhXlid19W8d_NP7RqGl4Ca_-afTCvjaw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNRK45JME7xk_H34C3mkwVEAhoIj4j5gXwc8a1gGPDgUlh6NTYWUlSFAHhQw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj5PxBYJvlipwjiH3cB2y98HDMbyq-j2v4Mcr-_-1OzvfDiG_I0rkZSKiLANE&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_yiJUTfCr8IetsHpC20CIlRKSbJOMl0Rek-xmg2aTPXYMP1_m0iTBvdojGg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAnp1DeNOXt4Rh4927UJ4o3DG690_Ss257TmCMxzZua8wPFY1tk7Sc1H3leQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj6DDX8LOAEjifnzFqsMILmPW8wvVLXIf8xrlQ7TAjFNs1w83mYYJeNDzIZA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2f3gSWksCDnAtXeBtmlCleUlC__rYE43AwpY2rPmkx1ekE5z3sW_oCvp8YGs&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXbrwSJfSbAwLCnxnU7KZExaXwuaupGc5XJiuOe6DvGf8UVCCX0aOZ5w0r_No&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCm5ubzbM3AJLKResrfM9N-Y8SM6-UAw80fE8evKE3S363sXsEzpILFYtgtg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYXp-X2fh_59GGjxKx_UaKTKm2qw859qwnTti-QfYIcAhJCN_42Elxt0fKoao&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCm5ubzbM3AJLKResrfM9N-Y8SM6-UAw80fE8evKE3S363sXsEzpILFYtgtg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKIcmXAxoZoCGe3pMatakufseXpKxylEK4IW71Sc2-2xGmEWViUwEyLriiEQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD6lSLDX8wG48yhb16GvbtEntodkOrfZx0APPe8U9QQMg7Uv9pJawnrMedkEA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwYo6Ww7F1OpQRlYnjAX7zKxx10m_uxhY25QS6OR6lRMd-VmpUQcsYbEZiAA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkK6PnmOy0K_v9JI87Ef2oLy5v-J_0vzYGocWAaVyY69ie2DuTxafs8Dmf610&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3JKjYn3swr9wXzN0W_OFrw1gpYiSUNimz_s562wV0swXo5SLxe21kFqJ_BpM&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPtJyiyPNnGyFmQUt_JxfX4bMUqfjYZ9Jlh2Vp8qUSg8_hRbWmR1818UAatA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6zhvKmpBahUXDXe8bvb-Z6l8EI7w3zTUANFzmkRUM0uskK_ytp-doSfFPyg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNQUtUfBvURHwcIx97-T2-4a7Su8htjLwlHR41zT-I1_8msC6VPZRKldqZ8g&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYjsT_2kdWDuE-2EHZ50sP0IDeQsL806saEjUOVehEUNo-zlI4l84rmCsEIg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS136I4NRh1Od7BftLZlzXIAIwmEIrwJF7PfDARXUyrknXYg4jWoAv0uis7HA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1PDzVPlouuZq9XMF11sIb9SqYQaRktArF6k9bJgOxVDklKxN3eOJbBqN9Njs&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFhLxSPVg_j6p8jj6oiLXqNHzsTmSZinIEB8oMNgd56rbPY0GImoweGtzzqw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0JxD4GGHZh-oLHUwGLdnEXYB8X-M5JkLuyONwt9uQCkZw1QJ-HXGt0ZdL9co&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBK0ka3gTvVU4uY3sxuzAZSVSaMbAL3tD2XA2b0Nefgah__bPkzOX9zujbKwc&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0kOOR8JPXBEdCQRfS6uikWjCuUkiEgzvCu8QRttV4dUYihLtXgKjAQyk98Q&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEglWjPKVoWpImEiOiqluVATjN7hdTk3aegMw9GxAfYjxiPOumIhOVTg8C6-4&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN0s5t74uz7npjCUE-NCjCq96_Ice_akuZTf5GJTRePJ5W_wggU5x5OW29cg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzr_UjuIcTbhYNGAugbXiegdk2qiaqaGBdTJcRIlEarGz-HUHQwvy8bKypn8k&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpI3DTXJee_hTonE54XjbspV4txQQmbtIkI7bRowywwyWlVmObFV2-hR_pdg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ31EISbGq3D6pFxkfXurV8Wf3DJeXxLHBaRzFpe2ISXgnTZ8odxfsswx2ydQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFs9i_32BUOrlUMGMzjUVyQ-veG0qtJIlebY7bUrQzVHsCaFkJJO1BXcKIzgE&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToyCRCsorJy1cQS_T8sCVzuzG4nuRDL6Zq66rC3-JOA4UpE8_U7n4fojV5Ju0&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBsqI_gfgPNXVGKx_IugfPSkwBKKA0rKSJvBclVFJD1-AV8hziR7fNobc26g&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUcRb1YVnURhxCrVKDuHTbLU2Yb--I1Xdr7bCydFb5pYRnRxOs0bM76BZReME&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSezTK46JHg7ORMu-tmSKo0BqheyTN9Q_nUlPmYYnZ7Qf9Ipatusnf5SSSypA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3ULxBUQboAyaTnKb0W9VZp6_4B2RuCxRJzut5e92nU0ISvUCHqeCJOkJ4uw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1u8q8B0KpOalf--xPqcJPbXvM6sdYjnZa9n6wg9wKWZm0iR_wboqk_KZjkw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGRMVpKG15MVfUhndxFWtZUBZ4RGlo4D3MxDA4tNLM_P_GWpdedLYxm_qBGQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSd6sLOHE07tDjL1W4AlzvRSO2Tq3qF2CHRn8tM6b6rn8VOn65FX0G1zsLTPg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf-i3Y83a5mzxPiewVC4f6HjNIioC1j9LLYr96PneOc5WJ1lUfb9PavYwKh2A&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOC8hG8hkelZjR0ay49_GVIyeXWjr2e-Zil-P8o16q2Ox6IMWcnTNz1_zcWI8&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOC8hG8hkelZjR0ay49_GVIyeXWjr2e-Zil-P8o16q2Ox6IMWcnTNz1_zcWI8&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzRdB4-T2chdTaI6-FM1rD2MBy6NsyEiRZJUVMsZjd_Il0YiWp7-G5Cm-OohY&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScCTbhJgKtZjIBkEil0a4uG7wsCCCDLih-CmY3RuE7ClO4y6czC0H_1BbvtA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs-vj4WP6c06G7S5sYvSBlskr8ztgVAsTlsqG-y3FufG4Dgsa5ScagBOQ4mg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzn6acaiAbpEUX4cgEa8xTqv3e1H79quFeX2RtuiIu2p7Kd-VQmh4tED-M2mw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScga4JirdFcyI-UzjNMHJnJ3NAsLDKVJHNShB6W7hYUztmqh-qYoA_lq6wJag&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCDV-UIalfrewXN3EuWCJ7Fu78o6_z-3_zXsmEkay2CMhYysu7jExZN7xpP7A&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj1dRifQJk662j1VoDa62SzbgEBWyLu257gOiWdO9tDYS1RekdPuosIHHOyw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAUXOFY6zdppOKSQXHDBvl678EmD196IsgXnlcenjO6OLOKYcwFnHbVHpDdw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNGpi16ndT7jv01GwhBlopFh4G6YEHVsmMjwAG6HHSrxvlDx06SfwmPiI4vh0&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUuRUN0wmNDzKXuFlcsTZJ-sA5Lj8RE6KccDpDWNF9qfghga6QfiC07BSo0i0&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKIcmXAxoZoCGe3pMatakufseXpKxylEK4IW71Sc2-2xGmEWViUwEyLriiEQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRclRZ6WAyPlTEuXLXv_7gwdf9GYHW7SelP_VQxlsXgjfKGG92sW_TF0_wVOw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlur4ozlCfNaRiyJbHGe5bpT4ACi288MfJvtC_-qhblu76VbS5yAEqKU59FQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYjsT_2kdWDuE-2EHZ50sP0IDeQsL806saEjUOVehEUNo-zlI4l84rmCsEIg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxTRY8aE54jprCi96gGC1YhHLdzJyXJDiPt3yujiIFLhxDPdqZ1s0NvwQxHg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7KyLkWUPm8yQ82Qjj1acdC7lpD2nhJYFsFeZXZNYMjcSxXR5WTYUBKrDnjw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVmA221wToEjBWR8bzZlS-uIk-5iEWfNrVCaejY0F3VI5sKE0O2fOGpUvj&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUe2BS_vILNX4B10VzPmVxsgWwCfJbWIyh6qCoXMrjIZ3MA-o9nn6b4VEDZ18&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRclRZ6WAyPlTEuXLXv_7gwdf9GYHW7SelP_VQxlsXgjfKGG92sW_TF0_wVOw&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWYTYz9EPZfhPWLMA6RQK05-yJDPTVULx2Kp_Ig59iptgbHUJnSVwvu8x4m64&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmKy55z2XUsUMdM3qOzrw8pBJED2aQz3n3DnpNaEdZOZBjG13e__K8mrP6FA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_eDI-a2HNfsUblstzlGC1SX8BMZIy-bfCHPGJwoaNZeWvHq223EnpoSv6oA&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZt2syoob6UjfwfyBy-7LjePqDY9ktJEFDvdOos-PErRpEx3EBAiF5b0hcrIs&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUziVKlfxbXNCcu6i9tLaKym18_vtjj2HVNuwSgmF0O5jH6XnrCMj9hbOXrAQ&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ2ysiRuqtPQwuutDd3jS3C4N_bAlGXBuYG7Tn3ZQQuVrdJV4Ug9jaJozOvg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy4QtcWI7y-qxUZbk6Uk7iX2WfPh9R-fT6UeNnvSLwAVmAUhYo8d-wQEP1BW0&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTo5QJl5hBaqRE7IwkNXWoGdymsXARCMT4z6iVuwAMmA2DMPKhp2BVnaOvaMjU&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNO-Fl65qX4V7hX0KEUicUnxX6s6zs-_naEDUd9dR1nysHIDXW6kUZVqSqJsg&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1p0bk37KOCkUd1ClumzqdwfpfPnsTBX2ckId6O11xGhqPq7ljbA7lSbP34Q&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcST_H5sFXo0e7rjMEHlF2SaJuZI-LbzfxoHgm-Py8rZWLYH5I3_2g3QkLd12g&s',
 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnZQ-n1MHjfokexdCHmExsfgcwxEzOdqDEgFl9E8J_LY412wizDGdFh-8G4w&s']

In [109]:
len(Cnames_logos)

140

In [110]:
Trans_Category

,id,parent_id,level,name,order_level,commision_rate,banner,icon,featured,top,digital,slug,meta_title,meta_description,created_at,updated_at
0,0,,,رجال,,,,,,,,,,,,
1,1,,,للجنسين,,,,,,,,,,,,
2,2,,,امرأة,,,,,,,,,,,,
3,3,,,الفتيات,,,,,,,,,,,,
4,4,,,أولاد,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,135,23,,ساعات اكسسوارات الأولاد,,,,,,,,,,,,
136,136,23,,جوارب اكسسوارات ولادي,,,,,,,,,,,,
137,137,23,,قفازات اكسسوارات ولادي,,,,,,,,,,,,
138,138,23,,اكسسوارات الأولاد أغطية الرأس,,,,,,,,,,,,
139,139,23,,إكسسوارات النظارات للأولاد,,,,,,,,,,,,

In [111]:
for i in range(len(Cnames)):
    CategoryG.at[i,'banner']=Cnames_logos[i]
    CategoryG.at[i,'icon']=Cnames_logos[i]
    Trans_Category.at[i,'banner']=Cnames_logos[i]
    Trans_Category.at[i,'icon']=Cnames_logos[i]
CategoryG

,id,parent_id,level,name,order_level,commision_rate,banner,icon,featured,top,digital,slug,meta_title,meta_description,created_at,updated_at
0,0,,,Men,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
1,1,,,Unisex,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
2,2,,,Women,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
3,3,,,Girls,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
4,4,,,Boys,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,135,23,,Boys Accessories Watches,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
136,136,23,,Boys Accessories Socks,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
137,137,23,,Boys Accessories Gloves,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
138,138,23,,Boys Accessories Headwear,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
139,139,23,,Boys Accessories Eyewear,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,

In [112]:
Trans_Category

,id,parent_id,level,name,order_level,commision_rate,banner,icon,featured,top,digital,slug,meta_title,meta_description,created_at,updated_at
0,0,,,رجال,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
1,1,,,للجنسين,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
2,2,,,امرأة,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
3,3,,,الفتيات,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
4,4,,,أولاد,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,135,23,,ساعات اكسسوارات الأولاد,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
136,136,23,,جوارب اكسسوارات ولادي,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
137,137,23,,قفازات اكسسوارات ولادي,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
138,138,23,,اكسسوارات الأولاد أغطية الرأس,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,
139,139,23,,إكسسوارات النظارات للأولاد,,,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://encrypted-tbn0.gstatic.com/images?q=tb...,,,,,,,,

In [114]:
CategoryG.to_csv("Fady Azmy Categories Updated.csv",index=False)

In [115]:
Trans_Category.to_csv("Fady Azmy Categories_translations Updated.csv",index=False, encoding='utf-8-sig')